DDC2.json
[{"id":"706974d2.aeef8c","type":"tab","label":"DDC2 v2.0b","disabled":false,"info":""},{"id":"4e525019.7fd39","type":"json","z":"706974d2.aeef8c","name":"","property":"payload","action":"obj","pretty":true,"x":475,"y":300,"wires":[["6ae13978.876788"]],"l":false},{"id":"7f0bfe82.e27e8","type":"inject","z":"706974d2.aeef8c","name":"Initialize Server","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":140,"y":620,"wires":[["e02a6d7f.cea5e","892df730.564228"]]},{"id":"e02a6d7f.cea5e","type":"function","z":"706974d2.aeef8c","name":"Initialize","func":"// This bit of code requests data from powershell to populate \n// the configuration items that were previously in Node-Red.\nvar payload = \"-init\";  \nmsg.payload = payload;\nvar command = \"!init\";\nvar requesttype = command.replace('!','')\nvar access = \"GRANTED\";\nmsg.data = {\n    \"createdTimestamp\": Date.now()\n    }\nvar tmstmp = msg.data.createdTimestamp;\nvar localdatetime = (new Date(tmstmp)).toLocaleString();\n\nmsg.message = {\n          \"request\" : command,\n    \"FormattedTime\" : localdatetime,\n   \"RequestChannel\" : \"\",\n \"RequestChannelID\" : \"\",\n      \"requesttype\" : requesttype,\n           \"access\" : access,\n       \"authorized\" : true,\n            \"valid\" : true,\n          \"comment\" : \"\",\n     \"Notification\" : \"\",\n              \"TTC\" : \"\", //Time To Completion, This measures the time the system recieved the request through to the time the request was completed. This item is used in further down in the flow\n              \"raw\" : msg.payload\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"DDC2 Initialized\"});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"\n","x":340,"y":560,"wires":[["93ff8e76.3b59c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["Process Request"]},{"id":"6ae13978.876788","type":"change","z":"706974d2.aeef8c","name":"MovePS Output","rules":[{"t":"move","p":"payload","pt":"msg","to":"PS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":519,"y":300,"wires":[["85ed99e7.67a2f8"]],"icon":"node-red/alert.svg","l":false},{"id":"269c53d2.7f5dcc","type":"function","z":"706974d2.aeef8c","name":"AutoStart","func":"var payload = \"-AutoStart\"; //Changed while testing (Switch between -status or -doupdate)\nmsg.payload = payload;\nvar DDC2 = flow.get('DDC2');\nmsg.author = {\n        \"username\": DDC2.ServerInfo.ServerID,\n        \"id\": DDC2.ServerInfo.ServerID\n    }\n\nmsg.data = {\n    \"createdTimestamp\": Date.now()\n    }\nmsg.channel = {\n    \"id\": DDC2.Channel.Admin\n    }\n\nvar tmstmp = msg.data.createdTimestamp;\nvar localdatetime = (new Date(tmstmp)).toLocaleString();\nvar command = \"!autostart\";\nvar requesttype = command.replace('!','')\nvar access = \"GRANTED\";\n\nmsg.message = {\n          \"request\" : command,\n    \"FormattedTime\" : localdatetime,\n   \"RequestChannel\" : \"NOT APPLICABLE\",\n \"RequestChannelID\" : \"NOT APPLICABLE\",\n      \"requesttype\" : requesttype,\n           \"access\" : access,\n       \"authorized\" : true,\n            \"valid\" : true,\n          \"comment\" : \"Server AutoStart\",\n     \"Notification\" : DDC2.ServerInfo.ServerID+ ` has initialized its ` +requesttype+ ` sequence on the ` +localdatetime,\n              \"raw\" : msg.payload\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"\n","x":440,"y":620,"wires":[["93ff8e76.3b59c","3629769a.9425ea"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["Process Request"],"icon":"node-red/arrow-in.svg"},{"id":"bab0b4b8.026168","type":"function","z":"706974d2.aeef8c","name":"Config Refreshed","func":"//DO NOT MODIFY THIS DATA!!\n//This sets the entire DDC2 variable structure from the ddc2_config.ps1, dont remove it!\nflow.set('DDC2', 0);\nflow.set('DDC2', msg.PS);\nvar TimeDate = new Date(msg.data.createdTimestamp).toLocaleString();\nnode.status({fill:\"green\",shape:\"dot\",text:TimeDate});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":160,"wires":[["57b9e2a7.0d693c","9230d674.d7e168","32c94689.2876aa","432df74a.2db558"]],"icon":"node-red/cog.svg"},{"id":"dbcad7dd.e581e8","type":"link in","z":"706974d2.aeef8c","name":"Set-Config","links":["eeb0adf7.7cbaa","a88d9103.dab59"],"x":35,"y":160,"wires":[["bab0b4b8.026168"]]},{"id":"eeb0adf7.7cbaa","type":"link out","z":"706974d2.aeef8c","name":"To Set-Config","links":["dbcad7dd.e581e8"],"x":875,"y":60,"wires":[]},{"id":"57b9e2a7.0d693c","type":"function","z":"706974d2.aeef8c","name":"DDC2 Server ID","func":"//DO NOT MODIFY THIS DATA!! ALL DATA IS PULLED FROM THE DDC2_CONFIG.ps1 FILE, MODIFY THE DATA THERE!!!!\nnode.status({fill:\"green\",shape:\"dot\",text:\"ServerID: \" +flow.get('DDC2.ServerInfo.ServerID')});","outputs":0,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[],"icon":"font-awesome/fa-id-card-o"},{"id":"9230d674.d7e168","type":"function","z":"706974d2.aeef8c","name":"Server Status","func":"flow.set('DDC2.Ready', true);\nnode.status({fill:\"green\",shape:\"dot\",text:\"SERVER READY!\"});\n\n//This line checks if the refresh command has been called, if so it does not execute the Autostart sequence.\nif(msg.message.requesttype == \"refresh\") {} else {return msg}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["73a35b78.ac4d74"]],"outputLabels":["To AutoStart"],"icon":"node-red/status.svg"},{"id":"7d742a2c.7aceb4","type":"discordMessage","z":"706974d2.aeef8c","name":"Get Message","token":"","x":90,"y":880,"wires":[["63c3e868.8c0298","6a1332a6.6517ac","94f8f28d.0ad6b"]]},{"id":"6a1332a6.6517ac","type":"function","z":"706974d2.aeef8c","name":"Svr Check","func":"var DDC2 = flow.get('DDC2');\n\n//var perms = DDC2.Permissions;\n//Get Message Variables\n//var usrname = msg.author.username;\n//var discordID = msg.author.id;\n//var message = msg.payload;\n//var DiscordRoles = msg.member._roles;\nvar tmstmp = msg.data.createdTimestamp;\nvar localdatetime = (new Date(tmstmp)).toLocaleString();\n//Breakdown of Message\nvar msglow = msg.payload.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\nvar command = splitmsg[0];\nvar server = splitmsg[1];\n\nvar requesttype = command.replace(DDC2.ServerInfo.CommandPrefix,'')\nvar access = \"NOTSET\";\n\nmsg.message = {\n          \"request\" : command,\n    \"FormattedTime\" : localdatetime,\n   \"RequestChannel\" : msg.data.channel.name,\n \"RequestChannelID\" : msg.data.channel.id,\n      \"requesttype\" : requesttype,\n           \"access\" : access,\n       \"authorized\" : false,\n            \"valid\" : false,\n          \"comment\" : \"\",\n     \"Notification\" : \"\",\n              \"TTC\" : \"\", //Time To Completion, This measures the time the system recieved the request through to the time the request was completed. This item is used in further down in the flow\n              \"raw\" : msg.payload\n}\n\nif(server == DDC2.ServerInfo.ServerID.toLowerCase()) {return msg} //use this line if you have multiple servers operating from a single channel\n//return msg //use this line if you have one server and you do not wish to have to define the server name to interact with you server.\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":880,"wires":[["854f91fe.fa0cf"]],"icon":"node-red/alert.svg"},{"id":"63c3e868.8c0298","type":"function","z":"706974d2.aeef8c","name":"!test","func":"var MsgSent = context.get('MsgSent') || 1;\nvar Func = flow.get('Func'); //Needed for Notification\nvar DDC2 = flow.get('DDC2'); //Needed for Notification\n//Get Message Variables\nvar msglow = msg.payload.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\nvar command = splitmsg[0];\nvar server = splitmsg[1];\nvar requesttype = command.replace(DDC2.ServerInfo.CommandPrefix,'')\nconsole.requesttype\nvar Permissions = flow.get('DDC2.Permissions.'+requesttype)\nvar tmstmp = msg.data.createdTimestamp;\nvar localdatetime = (new Date(tmstmp)).toLocaleString();\nvar access = \"NOTSET\";\n\nmsg.message = {\n          \"request\" : command,\n    \"FormattedTime\" : localdatetime,\n   \"RequestChannel\" : msg.data.channel.name,\n \"RequestChannelID\" : msg.data.channel.id,\n      \"requesttype\" : requesttype,\n           \"access\" : access,\n       \"authorized\" : false,\n            \"valid\" : false,\n          \"comment\" : \"\",\n     \"Notification\" : \"\",\n              \"TTC\" : \"\", //Time To Completion, This measures the time the system recieved the request through to the time the request was completed. This item is used in further down in the flow\n              \"raw\" : msg.payload\n}\n\nif (requesttype == \"test\") { //All Servers should respond to a test command\n    msg.message.valid = true;\n    if (Func.GrantAccess(Permissions,msg.member._roles)) {\n        msg.message.authorized = true;\n        msg.message.access = \"GRANTED\"\n        msg.message.Notification = DDC2.ServerInfo.ServerID+\" successfully recieved a \"+(Func.Capitalize(msg.message.requesttype))+\" message request from \"+msg.author.username+ \" in the \"+msg.message.RequestChannel+\" channel on the \" +msg.message.FormattedTime;\n    } \nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":760,"wires":[["f7686d61.dda76"]],"inputLabels":["Get Message"],"outputLabels":["Process Request"],"icon":"node-red/bridge.svg"},{"id":"56246863.7e6688","type":"discordSendMessage","z":"706974d2.aeef8c","name":"Response Channel","channel":"","token":"","x":730,"y":440,"wires":[]},{"id":"854f91fe.fa0cf","type":"switch","z":"706974d2.aeef8c","name":"Discord User Commands","property":"message.requesttype","propertyType":"msg","rules":[{"t":"eq","v":"radio","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"restart","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"access","vt":"str"},{"t":"eq","v":"reboot","vt":"str"},{"t":"eq","v":"refresh","vt":"str"},{"t":"eq","v":"ports","vt":"str"},{"t":"eq","v":"config","vt":"str"},{"t":"eq","v":"version","vt":"str"},{"t":"eq","v":"info","vt":"str"},{"t":"eq","v":"support","vt":"str"}],"checkall":"false","repair":false,"outputs":14,"x":355,"y":880,"wires":[["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"],["f7686d61.dda76"]],"inputLabels":["Discord Message"],"outputLabels":["!radio","!start","!stop","!restart","!status","!update","!access","!reboot","!refresh","!ports","!config","!version","!info","!support"],"icon":"font-awesome/fa-map-signs","l":false},{"id":"f7686d61.dda76","type":"function","z":"706974d2.aeef8c","name":"Task Authorization","func":"/*\nChecks the Discord Message User groups against the specific command being run and either passes the message onto Pre-Processing or sends an \naccess denied message and logs the access denied request. Note, Access Granted is assumed from this point so the Pre-Processing section needs \nto take care of the task notification after the command in questions syntax is checked.\n*/\n\n\n////////////////////////////////////////////////////////////////////////////////////////////////////\n////Initialize Variables\nvar MsgSent = context.get('MsgSent') || 1;\n\n//Get Flow Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\nvar CommandPermissions = flow.get('DDC2.Permissions.'+msg.message.requesttype)\n\nif (Func.GrantAccess(CommandPermissions,msg.member._roles)) {\n    msg.message.authorized = true;\n    msg.message.access = \"GRANTED\"\n    }\nelse {\n    msg.message.authorized = false;\n    msg.message.Notification = `!!ACCESS DENIED!! ` +msg.author.username+ ` you do not have access to the `+(Func.Capitalize(msg.message.requesttype))+` command on server ` +DDC2.ServerInfo.ServerID+ `, message ignored on the `+msg.message.FormattedTime\n    msg.message.access = \"DENIED\"\n    node.status({fill:\"red\",shape:\"dot\",text: \"DENIED:::\"+MsgSent});\n    context.set('MsgSent', (MsgSent + 1));\n    }\n\nif(msg.message.authorized) {return [null,msg]} else {return [msg,null]}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":516,"y":880,"wires":[["3629769a.9425ea"],["54bb54d6.bce9ac"]],"inputLabels":["Post-Request-Filter"],"outputLabels":["Access Denied Notification and Access Denied Log","To Pre-Processing Filter"],"icon":"font-awesome/fa-shield"},{"id":"e34c961a.d773a8","type":"exec","z":"706974d2.aeef8c","command":"\"C:\\Program Files\\PowerShell\\7\\pwsh.exe\" -ExecutionPolicy Bypass -File \"G:\\GameServer\\DDC2\\ddc2.ps1\"","addpay":true,"append":"-DDC2DIR \"G:\\GameServer\\DDC2\"","useSpawn":"false","timer":"","oldrc":false,"name":"PowerShell","x":364,"y":300,"wires":[["4e525019.7fd39","ae7ff318.f5da"],[],[]],"inputLabels":["Input"],"outputLabels":["DDC2.ps1 Output","Error","Return"],"icon":"font-awesome/fa-file-powerpoint-o"},{"id":"d52ab787.470dd8","type":"link in","z":"706974d2.aeef8c","name":"Discord SEND","links":["84046b92.690e18","4d5772e9.365a3c","b45f38a8.1aa4a8"],"x":330,"y":440,"wires":[["dbb20807.995bd8"]]},{"id":"85ed99e7.67a2f8","type":"switch","z":"706974d2.aeef8c","name":"Post-Processing Filter","property":"message.requesttype","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"radio","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"autostart","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"updating","vt":"str"},{"t":"eq","v":"access","vt":"str"},{"t":"eq","v":"secure","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"restart","vt":"str"},{"t":"eq","v":"refresh","vt":"str"},{"t":"eq","v":"reboot","vt":"str"}],"checkall":"false","repair":false,"outputs":13,"x":663,"y":300,"wires":[["eeb0adf7.7cbaa"],["6a40cd8f.d9b5c4"],["3e3f06.f45790fa"],["76ee52b5.a1731c"],["76ee52b5.a1731c"],["cd39221a.41d13"],["cd39221a.41d13"],["c26084df.9a5498"],["c26084df.9a5498"],["29df0005.12a79"],["29df0005.12a79"],["576e95ed.40ac6c"],["b9fe6c30.b6a37"]],"inputLabels":["From Powershell"],"outputLabels":["!init","!radio","!stop","","!status","!update","","!access","","!start","!restart","!refresh","!reboot"],"icon":"font-awesome/fa-map-signs","l":false},{"id":"29df0005.12a79","type":"function","z":"706974d2.aeef8c","name":"Start / Restart................","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\nvar extraP = 'p'\nif(msg.message.requesttype != 'stop') {extraP = ''}\n\nmsg.PS.Server.UpTimeStr = Func.pad(msg.PS.Server.UpTime.Days,2)+ `:`+Func.pad(msg.PS.Server.UpTime.Hours,2)+`:`+Func.pad(msg.PS.Server.UpTime.Minutes,2)+`:`+Func.pad(msg.PS.Server.UpTime.Seconds,2)\n\nif(msg.PS.DCS.IsActive === true) {\n    msg.PS.DCS.RunTimeStr = Func.pad(msg.PS.DCS.RunTime.Days,2)+ `:`+Func.pad(msg.PS.DCS.RunTime.Hours,2)+`:`+Func.pad(msg.PS.DCS.RunTime.Minutes,2)+`:`+Func.pad(msg.PS.DCS.RunTime.Seconds,2)\n    msg.PS.DCS.PriorityStr = Func.GetPriority(msg.PS.DCS.PriorityClass)\n}\nif(msg.PS.SRS.IsActive === true) {\n    msg.PS.SRS.RunTimeStr = Func.pad(msg.PS.SRS.RunTime.Days,2)+ `:`+Func.pad(msg.PS.SRS.RunTime.Hours,2)+`:`+Func.pad(msg.PS.SRS.RunTime.Minutes,2)+`:`+Func.pad(msg.PS.SRS.RunTime.Seconds,2)\n    msg.PS.SRS.PriorityStr = Func.GetPriority(msg.PS.SRS.PriorityClass)\n}\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the server. The task took `+msg.message.TTC+` to complete.`\n////////////////////////////////////////////////////////////////////////////////////////////////////\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":300,"wires":[["8788e9bc.af7e28","f3c0a2b5.2a5f4"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"b9fe6c30.b6a37","type":"function","z":"706974d2.aeef8c","name":"Reboot Post-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` is wondering how you are seeing this message if the server just restarted before it had a chance to send this message. Will wonders never cease! The task took `+msg.message.TTC+` to complete.`\n////////////////////////////////////////////////////////////////////////////////////////////////////\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":380,"wires":[["11ef3fe.fcf79c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"4a609372.7eebcc","type":"function","z":"706974d2.aeef8c","name":"Info Pre-Processing......","func":"var MsgSent = context.get('MsgSent') || 1;\nvar DDC2 = flow.get('DDC2');\nvar Func = flow.get('Func');\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nmsg.message.comment = \"Cached Response\"\nmsg.message.info = {\n    \"ShowBluPWD\" : DDC2.ServerInfo.ShowBluPWD,\n    \"ShowRedPWD\" : DDC2.ServerInfo.ShowRedPWD,\n    \"ShowSrvPWD\" : DDC2.ServerInfo.ShowSrvPWD,\n    \"ShowLotATC\" : DDC2.ServerInfo.ShowLotATC,\n    \"ShowTACView\" : DDC2.ServerInfo.ShowTACView\n    }\n\nnode.status({fill:\"green\",shape:\"ring\",text: \"IP's misplaced: \"+MsgSent});\nif(msg.channel.id == DDC2.Channel.Admin) {\n//Show everything\n\n//DDC2.AppConfig.DCS.password = \"chickenFucker\"\nmsg.message.info.ShowBluPWD = true\nmsg.message.info.ShowRedPWD = true\nmsg.message.info.ShowSrvPWD = true\nmsg.message.info.ShowLotATC = true\nmsg.message.info.ShowTACView = true\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg;\n}\n\nif(msg.channel.id == DDC2.Channel.Red) {\n//Set Password to RED\nmsg.message.info.ShowBluPWD = false\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg;\n}\n\nif(msg.channel.id == DDC2.Channel.Blue) {\n//Set Password to RED\nmsg.message.info.ShowRedPWD = false\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg;\n}\n\nif(msg.channel.id == DDC2.Channel.Support) {\nmsg.message.info.ShowBluPWD = false\nmsg.message.info.ShowRedPWD = false\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1100,"wires":[["cad27383.17d55","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Discord"],"icon":"node-red/inject.svg"},{"id":"32c94689.2876aa","type":"function","z":"706974d2.aeef8c","name":"Help Enabled","func":"var HelpEnabled = flow.get('DDC2.ServerInfo.ENABLE_HELP');\nif (HelpEnabled) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Help is enabled\"});\n    }\nelse {\n    node.status({fill:\"green\",shape:\"ring\",text:\"Help is disabled\"});\n    }","outputs":0,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[],"icon":"font-awesome/fa-question"},{"id":"bb4c5242.c21b6","type":"template","z":"706974d2.aeef8c","name":"Logging","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\n         TimeStamp: {{{message.FormattedTime}}}\n         Requestor: {{{author.username}}}\n      Request Type: {{{message.request}}}\n         Responder: {{{flow.DDC2.ServerInfo.ServerID}}}\n           Raw Msg: {{{message.raw}}}\n    RequestChannel: {{{message.RequestChannel}}}\nRequest Channel ID: {{{message.RequestChannelID}}}\n        Request ID: {{{_msgid}}}\n     Authorization: {{{message.access}}}\n          Comments: {{{message.comment}}}{{#message.TTC}}. Time To Complete = {{{message.TTC}}}{{/message.TTC}}\n```","output":"str","x":341,"y":500,"wires":[["56246863.7e6688"]]},{"id":"dfd2c6e3.dd0ef8","type":"function","z":"706974d2.aeef8c","name":"Log Prep","func":"var DDC2 = flow.get('DDC2');\nmsg.channel.id = DDC2.Channel.Log;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":236,"y":500,"wires":[["bb4c5242.c21b6"]],"icon":"node-red/file-out.svg","l":false},{"id":"1b78a82b.e34c58","type":"template","z":"706974d2.aeef8c","name":"Notifications","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#message.Notification}}```{{{message.Notification}}}```\n{{#message.TCC}}Request completed in {{{message.TCC}}}{{/message.TCC}}{{/message.Notification}}","output":"str","x":291,"y":380,"wires":[["d12a7282.e4cbb"]]},{"id":"892df730.564228","type":"function","z":"706974d2.aeef8c","name":"Functions","func":"Func = {\n        GrantAccess : function (haystack, arr) {\n                    return arr.some(function (v) {\n                    return haystack.indexOf(v) >= 0;\n                    })},\n                pad : function (num, size) {\n                    var s = num+\"\";\n                    while (s.length < size) s = \"0\" + s;\n                    return s;\n                    },\n        DaysBetween : function (date1, date2) {\n                    var one_day=1000*60*60*24;\n                    var date1_ms = date1.getTime();\n                    var date2_ms = date2.getTime();\n                    var difference_ms = date2_ms - date1_ms;\n                    difference_ms = Math.round(difference_ms/1000,3);\n                    var mseconds = difference_ms % 1000;\n                    var seconds = Math.floor(difference_ms % 60);\n                    difference_ms = difference_ms/60; \n                    var minutes = Math.floor(difference_ms % 60);\n                    difference_ms = difference_ms/60; \n                    var hours = Math.floor(difference_ms % 24);  \n                    var days = Math.floor(difference_ms/24);\n                    return Func.pad(minutes,2) + ':' + Func.pad(seconds,2) + '.' + Func.pad(mseconds,3);\n                    },\n        GetPriority : function (priority) {\n                    var PriorityTable = { 64:\"Low\", \n                    16384:\"Below Normal\", \n                    32:\"Normal\", \n                    32768:\"Above Normal\", \n                    128:\"High\",\n                    256:\"Realtime\"\n        \t\t\t};\n                    return (PriorityTable[priority])\n                    },\n         Capitalize : function(str) {\n                    const capitalized = str.charAt(0).toUpperCase() + str.slice(1);\n                    return capitalized;\n                    },\n       GetCoalition : function (coal) {\n                    var CoalitionTable = { 0:\"Neutral / Spectator\", \n                    1:\"Red Forces\", \n                    2:\"Blue Forces\"\n        \t\t\t};\n                    return (CoalitionTable[coal])\n                    },\n  ValidateIPaddress : function (IPAddr) {\n                    return /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$|^\\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)){3}))|:)))(%.+)?\\s*$/.test(IPAddr);\n                    }\n    }\nflow.set('Func', Func);\nnode.status({fill:\"green\",shape:\"dot\",text:\"Functions Loaded\"});","outputs":0,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[]},{"id":"54bb54d6.bce9ac","type":"switch","z":"706974d2.aeef8c","name":"Pre-Processing Filter","property":"message.requesttype","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"restart","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"access","vt":"str"},{"t":"eq","v":"reboot","vt":"str"},{"t":"eq","v":"refresh","vt":"str"},{"t":"eq","v":"radio","vt":"str"},{"t":"eq","v":"ports","vt":"str"},{"t":"eq","v":"config","vt":"str"},{"t":"eq","v":"version","vt":"str"},{"t":"eq","v":"info","vt":"str"},{"t":"eq","v":"support","vt":"str"},{"t":"eq","v":"help","vt":"str"},{"t":"eq","v":"test","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":655,"y":880,"wires":[["d4a8aae3.8f1a38"],["7f47a4ff.8c4cac"],["d4a8aae3.8f1a38"],["d4a8aae3.8f1a38"],["1e147716.7e48d9"],["b3cf6ba5.1edd28"],["3bf77953.d8a626"],["ad5eb505.470f78"],["3ad1965f.62275a"],["d901a79d.27e608"],["c24196a8.610a28"],["683993f5.6818ec"],["4a609372.7eebcc"],["2154b487.6c9bac"],["ffe41289.8b15b"],["f3c17350.67093"]],"inputLabels":["Discord Message"],"outputLabels":["!start","!stop","!restart","!status","!update","!access","!reboot","!refresh","!radio","!ports","!config","!version","!info","!support","!help",""],"icon":"font-awesome/fa-map-signs","l":false},{"id":"cad27383.17d55","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\n         -=:# DCS Server Connection Information #:=-\n       \n           InGame Server Name : {{{flow.DDC2.AppConfig.DCS.name}}}\n           \n    DCS Direct Connect String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.DCS.Port}}}{{#message.info.ShowSrvPWD}}{{#flow.DDC2.AppConfig.DCS.password}}\n          DCS Server Password : {{{flow.DDC2.AppConfig.DCS.password}}}{{/flow.DDC2.AppConfig.DCS.password}}{{/message.info.ShowSrvPWD}}{{#flow.DDC2.AppConfig.LotATC.Installed}}{{#message.info.ShowLotATC}}\n \n     LotATC Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.LotATC.Port}}}{{#message.info.ShowBluPWD}}{{#flow.DDC2.AppConfig.LotATC.blue_password}}\n       BluFOR LotATC Password : {{{flow.DDC2.AppConfig.LotATC.blue_password}}}{{/flow.DDC2.AppConfig.LotATC.blue_password}}{{/message.info.ShowBluPWD}}{{#message.info.ShowRedPWD}}{{#flow.DDC2.AppConfig.LotATC.red_password}}\n       RedFOR LotATC Password : {{{flow.DDC2.AppConfig.LotATC.red_password}}}{{/flow.DDC2.AppConfig.LotATC.red_password}}{{/message.info.ShowRedPWD}}{{/message.info.ShowLotATC}}{{/flow.DDC2.AppConfig.LotATC.Installed}}{{#flow.DDC2.AppConfig.SRS.Installed}}\n                  \n        SRS Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.SRS.Port}}}{{#message.info.ShowBluPWD}}{{#flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_BLUE_PASSWORD}}\n         BluFOR AWACS Password: {{{flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_BLUE_PASSWORD}}}{{/flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_BLUE_PASSWORD}}{{/message.info.ShowBluPWD}}{{#message.info.ShowRedPWD}}{{#flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_RED_PASSWORD}}\n         RedFOR AWACS Password: {{{flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_RED_PASSWORD}}}{{/flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_RED_PASSWORD}}{{/message.info.ShowRedPWD}}{{/flow.DDC2.AppConfig.SRS.Installed}}{{#flow.DDC2.AppConfig.Tacview.Installed}}{{#message.info.ShowTACView}}\n    \n    TACView Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.Tacview.tacviewRealTimeTelemetryPort}}}{{#message.info.ShowSrvPWD}}{{#flow.DDC2.AppConfig.Tacview.tacviewClientTelemetryPassword}}\n   TACView Telemetry Password : {{{flow.DDC2.AppConfig.Tacview.tacviewClientTelemetryPassword}}}{{/flow.DDC2.AppConfig.Tacview.tacviewClientTelemetryPassword}}{{/message.info.ShowSrvPWD}}{{/message.info.ShowTACView}}{{/flow.DDC2.AppConfig.Tacview.Installed}}\n                  \n                 -=:# Software Versions #:=-\n\n                  DCS Version : {{{flow.DDC2.AppConfig.DCS.Version}}}{{#flow.DDC2.AppConfig.LotATC.Installed}}\n               LotATC Version : {{{flow.DDC2.AppConfig.LotATC.Version}}}{{/flow.DDC2.AppConfig.LotATC.Installed}}{{#flow.DDC2.AppConfig.SRS.Installed}}\n                  SRS Version : {{{flow.DDC2.AppConfig.SRS.Version}}}{{/flow.DDC2.AppConfig.SRS.Installed}}{{#flow.DDC2.AppConfig.Tacview.Installed}}\n              TACView Version : {{{flow.DDC2.AppConfig.Tacview.Version}}}{{/flow.DDC2.AppConfig.Tacview.Installed}}\n                  \n```","output":"str","x":1221,"y":1100,"wires":[["84046b92.690e18"]],"l":false},{"id":"2154b487.6c9bac","type":"function","z":"706974d2.aeef8c","name":"Support Pre-Processing","func":"var MsgSent = context.get('MsgSent') || 1;\nvar DDC2 = flow.get('DDC2');\nvar Func = flow.get('Func');\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nmsg.message.comment = \"Cached Response\"\nmsg.message.support = {\n\n    \"RightPlace\"        : false,\n    \"WrongPlace\"        : true\n    }\n    \nif(msg.channel.id == DDC2.Channel.Support) {\n    msg.message.support.RightPlace = true\n    msg.message.support.WrongPlace = false\n}\n\nnode.status({fill:\"green\",shape:\"ring\",text: \"Sent: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg;\n\n/*\n    \"SupportByMember\"   : DDC2.ServerInfo.Support.SupportByMember,\n    \"SupportBy\"         : DDC2.ServerInfo.Support.SupportBy,\n    \"SupportContactID\"  : DDC2.ServerInfo.Support.SupportContactID,\n    \"SupportContactTXT\" : DDC2.ServerInfo.Support.SupportContactTXT,\n    \"SupportTimeTXT\"    : DDC2.ServerInfo.Support.SupportTimeTXT,\n*/\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1160,"wires":[["2b8251e9.0dae1e","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Discord"],"icon":"node-red/inject.svg"},{"id":"1a4b1d9.9c259e2","type":"link in","z":"706974d2.aeef8c","name":"LOG & NOTIFICATION","links":["28c3dc00.810f24","104865d4.43020a","5220fa55.487844","3629769a.9425ea","11ef3fe.fcf79c"],"x":176,"y":440,"wires":[["1b78a82b.e34c58","dfd2c6e3.dd0ef8"]]},{"id":"93ff8e76.3b59c","type":"link out","z":"706974d2.aeef8c","name":"Load-Config","links":["1ba74911.0102c7"],"x":655,"y":560,"wires":[]},{"id":"1ba74911.0102c7","type":"link in","z":"706974d2.aeef8c","name":"PowerShell Execution","links":["93ff8e76.3b59c","b7ef7da7.fc86f","62879f47.91c61"],"x":264,"y":300,"wires":[["e34c961a.d773a8"]]},{"id":"a585c1fc.c031c","type":"link in","z":"706974d2.aeef8c","name":"LOG ONLY","links":["75d56734.f35c58","1de0b76d.940129","f3c0a2b5.2a5f4"],"x":176,"y":500,"wires":[["dfd2c6e3.dd0ef8"]]},{"id":"ffe41289.8b15b","type":"function","z":"706974d2.aeef8c","name":"Help Pre-Processing....","func":"var MsgSent = context.get('MsgSent') || 1;\nvar DDC2 = flow.get('DDC2');\nvar Func = flow.get('Func');\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nmsg.message.comment = \"Cached Response\"\nvar msglow = msg.message.raw.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\nvar HelpCommand = splitmsg[1];\nif (HelpCommand == DDC2.ServerInfo.ServerID.toLowerCase()) {HelpCommand = splitmsg[2]}\nvar Test   = false\nvar Radio   = false\nvar Start   = false\nvar Stop    = false\nvar Restart = false\nvar Status  = false\nvar Update  = false\nvar Access  = false\nvar Reboot  = false\nvar Refresh = false\nvar Ports   = false\nvar Config  = false\nvar Version = false\nvar Info    = false\nvar Support = false\nvar Help    = false\n\nif (HelpCommand == \"test\") {Test = true}\nif (HelpCommand == \"radio\") {Radio = true}\nif (HelpCommand == \"start\") {Start = true}\nif (HelpCommand == \"stop\") {Stop = true}\nif (HelpCommand == \"restart\") {Restart = true}\nif (HelpCommand == \"status\") {Status = true}\nif (HelpCommand == \"update\") {Update = true}\nif (HelpCommand == \"access\") {Access = true}\nif (HelpCommand == \"reboot\") {Reboot = true}\nif (HelpCommand == \"refresh\") {Refresh = true}\nif (HelpCommand == \"ports\") {Ports = true}\nif (HelpCommand == \"config\") {Config = true}\nif (HelpCommand == \"version\") {Version = true}\nif (HelpCommand == \"info\") {Info = true}\nif (HelpCommand == \"support\") {Support = true}\nif (HelpCommand == \"help\") {Help = true}\n\nmsg.message.Help = {\n    \"HelpCommand\" : HelpCommand,\n           \"Test\" : Test,\n          \"Radio\" : Radio,\n          \"Start\" : Start,\n           \"Stop\" : Stop,\n        \"Restart\" : Restart,\n         \"Status\" : Status,\n         \"Update\" : Update,\n         \"Access\" : Access,\n         \"Reboot\" : Reboot,\n        \"Refresh\" : Refresh,\n          \"Ports\" : Ports,\n         \"Config\" : Config,\n        \"Version\" : Version,\n           \"Info\" : Info,\n        \"Support\" : Support,\n           \"Help\" : Help\n    }\n\nnode.status({fill:\"green\",shape:\"ring\",text: \"N00bs empowered: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\n\nif(msg.message.Help.Test) {return msg}\nif(msg.message.Help.Radio) {return msg}\nif(msg.message.Help.Start) {return msg}\nif(msg.message.Help.Stop) {return msg}\nif(msg.message.Help.Restart) {return msg}\nif(msg.message.Help.Status) {return msg}\nif(msg.message.Help.Update) {return msg}\nif(msg.message.Help.Access) {return msg}\nif(msg.message.Help.Reboot) {return msg}\nif(msg.message.Help.Refresh) {return msg}\nif(msg.message.Help.Ports) {return msg}\nif(msg.message.Help.Config) {return msg}\nif(msg.message.Help.Version) {return msg}\nif(msg.message.Help.Info) {return msg}\nif(msg.message.Help.Support) {return msg}\nif(msg.message.Help.Help) {return msg}\nif (typeof msg.message.Help.HelpCommand === 'undefined') {    \n    msg.message.Help.HelpCommand = \"help\"\n    msg.message.Help.Help = true\n    return msg\n}\nmsg.message.Help.HelpCommand = \"help\"\nmsg.message.Help.Help = true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1220,"wires":[["61e7b22d.b8351c","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Discord"],"icon":"node-red/inject.svg"},{"id":"2b8251e9.0dae1e","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{{#message.support.RightPlace}}\n{{#flow.DDC2.ServerInfo.Support.SupportByMember}}<@{{{flow.DDC2.ServerInfo.Support.SupportContactID}}}>{{/flow.DDC2.ServerInfo.Support.SupportByMember}}\n```\nHi {{author.username}}, looks like you are in the right place for some support for our DCS server {{flow.DDC2.ServerInfo.ServerID}}. Please post a detailed description of the issue you are experiencing here and someone will get back to you. {{flow.DDC2.ServerInfo.Support.SupportContactTXT}} {{flow.DDC2.ServerInfo.Support.SupportTimeTXT}}\n```\n{{/message.support.RightPlace}}\n{{#message.support.WrongPlace}}\n```\nHi {{author.username}}, looks like you are looking for some support for our DCS server {{flow.DDC2.ServerInfo.ServerID}}. {{flow.DDC2.ServerInfo.Support.SupportContactTXT}} {{flow.DDC2.ServerInfo.Support.SupportTimeTXT}}\n```\n{{/message.support.WrongPlace}}\n\n","output":"str","x":1221,"y":1160,"wires":[["84046b92.690e18"]],"l":false},{"id":"61e7b22d.b8351c","type":"template","z":"706974d2.aeef8c","name":"Info Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your help request is being actioned by {{{flow.DDC2.ServerInfo.ServerID}}}...\n```\n{{#message.Help.Help}}\nWelcome to the DDC2 help system. This version of DDC2 has the following command available:\n\n       help        : Will display this dialogue\n       test        : All DDC2 servers listening in a channel respond to show connectivity.\n       start       : Starts DCS and supporting applications\n       stop        : Stops DCS and supporting applications\n       restart     : Restarts DCS and supporting applications\n       status      : Returns information on the status of the server\n       update      : Updates DCS and supporting applications (excluding TacView currently)\n       access      : Enables Console access to the server by modifying firewall rules\n       reboot      : Reboots the Operating system DDC2 and DCS reside on\n       refresh     : Refreshs the configuration from the DDC2 config files\n       radio       : Converts discord messages to audio and transmits them through SRS\n       ports       : Displays all the ports set in the configuration files for DCS and supporting applications\n       config      : Displays configuration data for the server and applications\n       version     : Displays the versions of DCS and supporting applications\n       info        : Displays connection information and passwords for the server\n       support     : Displays support information for your server / community\n\nData will be displayed in a similar way as below.\n#############################################\n           Command : Help\n\n       Description : Shows Help Dialogue, make sure you exclude the '!' when specifying the command you need help with.\n\nExecution Duration : Instant, Cached Response\n\n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}help\n\t\t\tUseage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}help command\n\n         Example 1 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}help\n         Example 2 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}help start\n         Example 3 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}help access\n#############################################\n{{/message.Help.Help}}{{#message.Help.Test}}\n#############################################\n           Command : Test\n   \n       Description : Test is used to validate communications between DDC2 instances and Discord. \n\nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}test\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}test\n#############################################\n{{/message.Help.Test}}{{#message.Help.Start}}\n#############################################\n           Command : Start\n   \n       Description : Start command is used to start DCS and the supporting application processes. \n\nExecution Duration : Approximately 90 seconds depending on your server specifications.\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}start servername\n        \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}start ddc2-dev\n#############################################\n{{/message.Help.Start}}{{#message.Help.Stop}}\n#############################################\n           Command : Stop\n   \n       Description : Stop command is used to stop DCS and the supporting application processes. \n\nExecution Duration : Approximately 15 seconds depending on your server specifications.\n\n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop servername process\n\n         Example 1 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev         #Stops DCS & SRS Processes (Default Action)\n         Example 2 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev -dcs    #Stops DCS Process Only\n         Example 3 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev -srs    #Stops SRS Process Only\n         Example 4 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev -game   #Stops DCS & SRS Processes\n         Example 5 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev -update #Stops DCS & SRS & LotATC Update Processes\n         Example 6 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}stop ddc2-dev -all    #Stops All Game and Update Processes\n#############################################\n{{/message.Help.Stop}}{{#message.Help.Restart}}\n#############################################\n           Command : Restart\n   \n       Description : Restart command is used to stop and then start DCS and the supporting application processes. \n\nExecution Duration : Approximately 90 seconds depending on your server specifications.\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}restart servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}restart ddc2-dev\n#############################################\n{{/message.Help.Restart}}{{#message.Help.Status}}\n#############################################\n           Command : Status\n   \n       Description : Status command returns a message showing the current server system state, data including CPU load, RAM load, Process duration, Process health check and other details.\n\nExecution Duration : Approximately 15 seconds depending on your server specifications.\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}status servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}status ddc2-dev\n#############################################            \n{{/message.Help.Status}}{{#message.Help.Update}}\n#############################################\n           Command : Update\n   \n       Description : Update command will check if their are DCS or supporting application processes running, if processes are found to be running update will not execute. This was done to stop accidental updating taking place on servers with multiple DCS instances running on them. The update command will respond every 60 seconds with an update on the progress on the updates. \n\nExecution Duration : Time can vary due to internet speed, etc. Responses should begin within 60 seconds.\n \n             Useage: {{{flow.DDC2.ServerInfo.CommandPrefix}}}update servername\n            \n            Example: {{{flow.DDC2.ServerInfo.CommandPrefix}}}update ddc2-dev\n#############################################\n{{/message.Help.Update}}{{#message.Help.Access}}\n#############################################\n           Command : Access\n   \n       Description : Grants Console Access to the Server through modification of firewall rules. If no connection is achieved to the specific IP address within an allotted time the server will remove the firewall rule.\n\nExecution Duration : Less than 15 seconds but will remove the firewall within an alloted time after the connection is no longer detected. (Note, you must know your internet IP address to enter into this command, not your local interface address). Note: Output only displayed in Admin Channel\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}access servername IPv4Address\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}access ddc2-dev 254.254.254.254\n#############################################\n{{/message.Help.Access}}{{#message.Help.Reboot}}\n#############################################\n           Command : Reboot\n   \n       Description : Reboot will restart the servers operating system. The server will respond during the DDC2 AutoStart (enabled by default) sequence on successful reboot event.\n\nExecution Duration : It's Windows, could be 20 seconds, could be 30 minutes. Best to go get a cuppa tea and a few cookies.\n \n             Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}reboot servername\n            \n            Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}reboot ddc2-dev\n#############################################\n{{/message.Help.Reboot}}{{#message.Help.Refresh}}\n#############################################\n           Command : Refresh\n   \n       Description : Refresh re-reads the ddc2 configuration files and loads the new configuration into Node-Red for use by the DDC2 flow. Great command for tweaking your server configuration without the need to re-deploy the Node-Red Flow.\n\nExecution Duration : Approximately 3 seconds\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}refresh servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}refresh ddc2-dev\n#############################################\n{{/message.Help.Refresh}}{{#message.Help.Ports}}\n#############################################\n           Command : Ports\n   \n       Description : Ports displays all the server ports from DCS and supporting application configuration files.\n       \n              Note : Output only displayed in Admin Channel due to the sensitivity of the data provided.\n\nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}ports servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}ports ddc2-dev\n#############################################\n{{/message.Help.Ports}}{{#message.Help.Config}}\n#############################################\n           Command : Config\n   \n       Description : Config displays configuration settings in . \n \nValid Applications : dcs  # DCS\n                     srs  # SRS\n                     lot  # LotATC\n                     tac  # TacView\n                     ddc2 # DDC2\n \n              Note : Output only displayed in Admin Channel due to the sensitivity of the data provided.\n\nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config servername application\n            \n         Example 1 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config ddc2-dev -dcs\n         Example 2 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config ddc2-dev -lot\n         Example 3 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config ddc2-dev -tac\n         Example 4 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config ddc2-dev -ddc2\n         Example 5 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}config ddc2-dev           #This will also display the DDC2 Configuration\n#############################################\n{{/message.Help.Config}}{{#message.Help.Version}}\n#############################################\n           Command : Version\n   \n       Description : Version displays the versions of DCS and supporting applications installed on the server. (Including DDC2)\n       \nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}version servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}version ddc2-dev\n#############################################\n{{/message.Help.Version}}{{#message.Help.Info}}\n#############################################\n           Command : Info\n   \n       Description : Info displays connection information (including passwords). This command produces different output depending on where the command is executed. DDC2 settings also change the output of this command, they are listed below.\n     DDC2 Settings : ShowLotATC         # Boolean to allow LotATC connection information to be displayed in non-Admin Channels\n                     ShowTACView        # Boolean to allow TacView connection information to be displayed in non-Admin Channels    \n                     ShowSrvPWD         # Boolean to allow Server Passwords to be displayed in non-Admin Channels (good setting for Private Servers managed publicly)\n                     \n Channel Execution : Admin Channel      # Disregards DDC2 Settings and displays all connection information\n                     Blue Force Channel # Considers DDC2 Settings and only displays Blue Force passwords                     \n                     Red Force Channel  # Considers DDC2 Settings and only displays Red Force passwords\n                     Support / Other    # Considers DDC2 Settings but does not display any Red or Blue passwords\n\nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}info servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}info ddc2-dev \n#############################################\n{{/message.Help.Info}}{{#message.Help.Support}}\n#############################################\n           Command : Support\n   \n       Description : Support displays information on how, where and when to best contact the server support team. Message will change when request is used within the DDC2 designated support channel.\n       \nExecution Duration : Instant, Cached Response\n \n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}support servername\n            \n           Example : {{{flow.DDC2.ServerInfo.CommandPrefix}}}support ddc2-dev\n#############################################\n{{/message.Help.Support}}{{#message.Help.Radio}}\n#############################################\n           Command : Radio\n   \n       Description : Radio command converts Discord text messages to Voice Radio messages on SRS. If no data other than the message is given it will use the server default settings.\n DDC2 SRS Defaults : Frequency  = {{{flow.DDC2.AppConfig.SRS.DDC2_FREQ}}}   # GLOBAL_LOBBY_FREQUENCIES setting in the SRS config file server.cfg\n                     Freq High  = {{{flow.DDC2.AppConfig.SRS.DDC2_HIGH}}}  # Highest frequency supported by DDC2 Text to Radio\n                     Freq Low   = {{{flow.DDC2.AppConfig.SRS.DDC2_LOW}}}   # Lowest frequency supported by DDC2 Text to Radio\n                     Modulation = {{{flow.DDC2.AppConfig.SRS.DDC2_MOD}}}    # Hard set in DDC2 Settings, Currently only AM is supported, not changable at present\n                     Volume     = {{{flow.DDC2.AppConfig.SRS.DDC2_VOL}}}    # Hard set in DDC2 Settings, not changable at present\n                     Coalition  = {{{flow.DDC2.AppConfig.SRS.DDC2_COAL}}}    # Options are : 0 = Neutral / Spectators ; 1 = Red force ; 2 = Blue force\n\nExecution Duration : Approximately 10 seconds depending on the length of your message.\n\n            Useage : {{{flow.DDC2.ServerInfo.CommandPrefix}}}radio servername -freq frequency -coal coalition -msg \"message\"\n        \n         Example 1 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}radio servername -freq 122.5 -coal 1 -msg \"This is a message for Red Force on 122.5 A M\"\n         Example 2 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}radio servername -msg \"This is a message using the servers default frequency of {{{flow.DDC2.AppConfig.SRS.DDC2_FREQ}}} A M to the default coalition setting of {{{flow.DDC2.AppConfig.SRS.DDC2_COAL}}}\"\n         Example 3 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}radio servername -coal 2 -msg \"This is a message using the servers default frequency of {{{flow.DDC2.AppConfig.SRS.DDC2_FREQ}}} A M to the Blue Forces\"\n         Example 4 : {{{flow.DDC2.ServerInfo.CommandPrefix}}}radio servername -freq -5000 -coal 2 -msg \"This message will not transmit because the frequency is not between {{{flow.DDC2.AppConfig.SRS.DDC2_LOW}}} and {{{flow.DDC2.AppConfig.SRS.DDC2_HIGH}}} Mhz.\"\n#############################################\n{{/message.Help.Radio}}\n```","output":"str","x":1221,"y":1220,"wires":[["84046b92.690e18"]],"l":false},{"id":"a93c31ed.8277d","type":"rbe","z":"706974d2.aeef8c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"PS.Status","x":1235,"y":300,"wires":[["4f80ea3a.7b6ff4","1de0b76d.940129"]],"icon":"node-red/alert.svg","l":false},{"id":"ad5eb505.470f78","type":"function","z":"706974d2.aeef8c","name":"Refresh Pre-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has received your request `+msg.author.username+ ` and has begun processing your `+(Func.Capitalize(msg.message.requesttype))+` request, please wait....`\nmsg.payload = '-'+msg.message.requesttype\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\nnode.status({fill:\"green\",shape:\"ring\",text: \"Settings tweaked: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":800,"wires":[["b7ef7da7.fc86f","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"b7ef7da7.fc86f","type":"link out","z":"706974d2.aeef8c","name":"To PowerShell","links":["1ba74911.0102c7"],"x":1221,"y":740,"wires":[]},{"id":"84046b92.690e18","type":"link out","z":"706974d2.aeef8c","name":"To Discord SEND","links":["d52ab787.470dd8","dcd8bae1.a6a4f8"],"x":1321,"y":980,"wires":[]},{"id":"576e95ed.40ac6c","type":"function","z":"706974d2.aeef8c","name":"Refresh Post-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has updated its settings from the DDC2 configuration files. The task took `+msg.message.TTC+` to complete.`\n////////////////////////////////////////////////////////////////////////////////////////////////////\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":340,"wires":[["11ef3fe.fcf79c","a88d9103.dab59"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"104865d4.43020a","type":"link out","z":"706974d2.aeef8c","name":"TO LOG & NOTIFICATION","links":["1a4b1d9.9c259e2"],"x":1221,"y":1280,"wires":[]},{"id":"f3c17350.67093","type":"function","z":"706974d2.aeef8c","name":"!test Pre-Processing......","func":"var MsgSent = context.get('MsgSent') || 1;\nvar Func = flow.get('Func'); //Needed for Notification\nvar DDC2 = flow.get('DDC2'); //Needed for Notification\nmsg.message.comments = \"Request Actioned\"\nmsg.message.Notification = DDC2.ServerInfo.ServerID+\" successfully recieved a \"+(Func.Capitalize(msg.message.requesttype))+\" message request from \"+msg.author.username+ \" in the \"+msg.message.RequestChannel+\" channel on the \" +msg.message.FormattedTime;\nmsg.message.comment = \"Cached Response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1280,"wires":[["104865d4.43020a"]],"inputLabels":["Get Message"],"outputLabels":["Process Request"],"icon":"node-red/bridge.svg"},{"id":"3629769a.9425ea","type":"link out","z":"706974d2.aeef8c","name":"TO LOG & NOTIFICATION","links":["1a4b1d9.9c259e2"],"x":655,"y":680,"wires":[]},{"id":"11ef3fe.fcf79c","type":"link out","z":"706974d2.aeef8c","name":"TO LOG & NOTIFICATION","links":["1a4b1d9.9c259e2"],"x":1235,"y":380,"wires":[]},{"id":"76ee52b5.a1731c","type":"function","z":"706974d2.aeef8c","name":"Status Post-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n\nflow.set('DDC2.Status', msg.PS);\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\n\nmsg.PS.Server.UpTimeStr = Func.pad(msg.PS.Server.UpTime.Days,2)+ `:`+Func.pad(msg.PS.Server.UpTime.Hours,2)+`:`+Func.pad(msg.PS.Server.UpTime.Minutes,2)+`:`+Func.pad(msg.PS.Server.UpTime.Seconds,2)\n\nif(msg.PS.DCS.IsActive === true) {\n    msg.PS.DCS.RunTimeStr = Func.pad(msg.PS.DCS.RunTime.Days,2)+ `:`+Func.pad(msg.PS.DCS.RunTime.Hours,2)+`:`+Func.pad(msg.PS.DCS.RunTime.Minutes,2)+`:`+Func.pad(msg.PS.DCS.RunTime.Seconds,2)\n    msg.PS.DCS.PriorityStr = Func.GetPriority(msg.PS.DCS.PriorityClass)\n}\nif(msg.PS.SRS.IsActive === true) {\n    msg.PS.SRS.RunTimeStr = Func.pad(msg.PS.SRS.RunTime.Days,2)+ `:`+Func.pad(msg.PS.SRS.RunTime.Hours,2)+`:`+Func.pad(msg.PS.SRS.RunTime.Minutes,2)+`:`+Func.pad(msg.PS.SRS.RunTime.Seconds,2)\n    msg.PS.SRS.PriorityStr = Func.GetPriority(msg.PS.SRS.PriorityClass)\n}\n\n\nif(msg.PS.Updating) {\n\nif (typeof msg.message.Update === 'undefined') {\n    //First Run\n    msg.delay = (DDC2.ServerInfo.UpdateLoop * 1000)\n    msg.message.Update = {\n            \"Status\" : \"Initializing\",\n          \"FirstRun\" : true,\n           \"LOT_Upd\" : \"Update not started\",\n           \"SRS_Upd\" : \"Update not started\",\n           \"DCS_Upd\" : \"Update not started\",\n          \"Finished\" : false\n    }\n} else {\n    if(msg.PS.Updating) {\n        msg.message.Update.Status = \"Updating\"\n        msg.message.Update.FirstRun = false\n        msg.message.Update.Finished = false\n    } else {\n        msg.message.Update.Status = \"Done\"\n        msg.message.Update.FirstRun = false\n        msg.message.Update.Finished = true\n    }\n}\nif(msg.PS.DCS.IsActive) {msg.message.Update.Finished = true}\nif(msg.PS.SRS.IsActive) {msg.message.Update.Finished = true}\n\nif(msg.PS.LOT_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Updating to current \"+DDC2.ServerInfo.LotBuild+\" Build\"\n}\nif(msg.PS.SRS_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Update Complete (\"+DDC2.ServerInfo.LotBuild+\")\"\n    msg.message.Update.SRS_Upd = \"Updating to current \"+DDC2.ServerInfo.SRSBuild+\" Build\"\n}\nif(msg.PS.DCS_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Update Complete (\"+DDC2.ServerInfo.LotBuild+\")\"\n    msg.message.Update.SRS_Upd = \"Update Complete (\"+DDC2.ServerInfo.SRSBuild+\")\"\n    msg.message.Update.DCS_Upd = \"Updating to current \"+DDC2.ServerInfo.DCSBuild+\" Build\"\n}\nif(msg.message.Update.DCS_Upd == \"Updating\") {\n    if (msg.PS.DCS_Updater.Offline) {\n        msg.message.Update.DCS_Upd = \"Update Complete (\"+DDC2.ServerInfo.DCSBuild+\")\"\n    }\n}\nif(msg.PS.DCS.Version != \"\") {\n    if(DDC2.AppConfig.DCS.Version != msg.PS.DCS.Version) {\n        flow.set('DDC2.AppConfig.DCS.Version', msg.PS.DCS.Lot_Version)\n    }\n}\nif(msg.PS.DCS.Lot_Version != \"\") {\n    if(DDC2.AppConfig.LotATC.Version != msg.PS.DCS.Lot_Version) {\n        flow.set('DDC2.AppConfig.LotATC.Version', msg.PS.DCS.Lot_Version)\n    }\n}\nif(DDC2.AppConfig.SRS.Version != msg.PS.SRS.Version) {\n    flow.set('DDC2.AppConfig.SRS.Version', msg.PS.SRS.Version)\n}\n\n}\n\nmsg.message.Notification = \"\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":180,"wires":[["c742702e.8cb9f","f3c0a2b5.2a5f4"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"c742702e.8cb9f","type":"template","z":"706974d2.aeef8c","name":"Status Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\n                  -=:# DCS Server Status #:=-\n           \n                      DDC2 ID : {{{flow.DDC2.ServerInfo.ServerID}}}\n              CPU Utilization : {{{PS.Server.ProcessorLoad}}} %\n              RAM Utilization : {{{PS.Server.UsedMemPC}}} % - ({{{PS.Server.UsedMemGB}}} GB / {{{PS.Server.TotalMemGB}}} GB)\n                Server Uptime : {{{PS.Server.UpTimeStr}}}\n          Last Server Restart : {{{PS.Server.LastBootUpString}}}\n            DCS Server Status : {{#PS.DCS.Offline}}DCS Offline [{{PS.DCS.Version}}]{{/PS.DCS.Offline}}{{#PS.DCS.IsActive}}{{{PS.DCS.Status}}}\n\n           InGame Server Name : {{{flow.DDC2.AppConfig.DCS.name}}}\n           DCS Server Version : {{{PS.DCS.ProductVersion}}}\n            DCS Server Uptime : {{{PS.DCS.RunTimeStr}}}\n             DCS Server Ports : {{{PS.DCS.Ports}}}\n       DCS Server Memory (GB) : {{{PS.DCS.MemGB}}} Used\n          DCS Server Priority : {{{PS.DCS.PriorityStr}}}\n             DCS Server Ticks : {{{PS.DCS.Ticks}}}\n    DCS Server Active Threads : {{{PS.DCS.Threads}}}\n    DCS Server Active Handles : {{{PS.DCS.Handles}}}\n   DCS Server CPU Utilization : {{{PS.DCS.CPULoad}}} %{{/PS.DCS.IsActive}}\n            SRS Server Status : {{#PS.SRS.Offline}}SRS Offline [{{PS.SRS.Version}}]{{/PS.SRS.Offline}}{{{PS.SRS.Status}}}{{#PS.SRS.IsActive}}\n           SRS Server Version : {{{PS.SRS.ProductVersion}}}\n            SRS Server Uptime : {{{PS.SRS.RunTimeStr}}}\n             SRS Server Ports : {{{PS.SRS.Ports}}}\n       SRS Server Memory (GB) : {{{PS.SRS.MemGB}}} Used\n          SRS Server Priority : {{{PS.SRS.PriorityStr}}}\n             SRS Server Ticks : {{{PS.SRS.Ticks}}}\n    SRS Server Active Threads : {{{PS.SRS.Threads}}}\n    SRS Server Active Handles : {{{PS.SRS.Handles}}}\n   SRS Server CPU Utilization : {{{PS.SRS.CPULoad}}} %\n       SRS Current User Count : {{{PS.SRS.ClientCount}}}{{/PS.SRS.IsActive}}{{#PS.SRS.ClientsPresent}}\n                        \n                        SRS Active Users\n{{#PS.SRS.ClientTable.0.Name}}                              - {{{PS.SRS.ClientTable.0.Name}}}{{/PS.SRS.ClientTable.0.Name}}\n{{#PS.SRS.ClientTable.1.Name}}                              - {{{PS.SRS.ClientTable.1.Name}}}{{/PS.SRS.ClientTable.1.Name}}\n{{#PS.SRS.ClientTable.2.Name}}                              - {{{PS.SRS.ClientTable.2.Name}}}{{/PS.SRS.ClientTable.2.Name}}\n{{#PS.SRS.ClientTable.3.Name}}                              - {{{PS.SRS.ClientTable.3.Name}}}{{/PS.SRS.ClientTable.3.Name}}\n{{#PS.SRS.ClientTable.4.Name}}                              - {{{PS.SRS.ClientTable.4.Name}}}{{/PS.SRS.ClientTable.4.Name}}{{/PS.SRS.ClientsPresent}}\n\n{{#PS.Updating}}\n               -=:# Server Update Status #:=-\n              \n              LotATC Updater : {{#message.Update.LOT_Upd}}{{message.Update.LOT_Upd}}{{/message.Update.LOT_Upd}}{{#PS.LOT_Updater.Offline}} [{{PS.DCS.Lot_Version}}]{{/PS.LOT_Updater.Offline}}{{#PS.LOT_Updater.IsActive}}\n                       Ticks : {{PS.LOT_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.LOT_Updater.CPULoad}} %\n         Process Memory Load : {{PS.LOT_Updater.MemGB}} GB\n             Process Threads : {{PS.LOT_Updater.Threads}}\n             Process Handles : {{PS.LOT_Updater.Threads}}{{/PS.LOT_Updater.IsActive}}\n             \n\t\t\t\t SRS Updater : {{#message.Update.SRS_Upd}}{{message.Update.SRS_Upd}}{{/message.Update.SRS_Upd}}{{#PS.SRS_Updater.Offline}} [{{PS.SRS.Version}}]{{/PS.SRS_Updater.Offline}}{{#PS.SRS_Updater.IsActive}}\n                       Ticks : {{PS.SRS_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.SRS_Updater.CPULoad}} %\n         Process Memory Load : {{PS.SRS_Updater.MemGB}} GB\n             Process Threads : {{PS.SRS_Updater.Threads}}\n             Process Handles : {{PS.SRS_Updater.Threads}}{{/PS.SRS_Updater.IsActive}}\n             \n                 DCS Updater : {{#message.Update.DCS_Upd}}{{message.Update.DCS_Upd}}{{/message.Update.DCS_Upd}}{{#PS.DCS_Updater.Offline}} [{{PS.DCS.Version}}]{{/PS.DCS_Updater.Offline}}{{#PS.DCS_Updater.IsActive}}\n                       Ticks : {{PS.DCS_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.DCS_Updater.CPULoad}} %\n         Process Memory Load : {{PS.DCS_Updater.MemGB}} GB\n             Process Threads : {{PS.DCS_Updater.Threads}}\n             Process Handles : {{PS.DCS_Updater.Threads}}{{/PS.DCS_Updater.IsActive}}\n{{/PS.Updating}}\n```\nRequest completed in {{message.TTC}}","output":"str","x":1355,"y":180,"wires":[["4d5772e9.365a3c"]],"l":false},{"id":"d12a7282.e4cbb","type":"switch","z":"706974d2.aeef8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":396,"y":380,"wires":[["56246863.7e6688"]],"l":false},{"id":"683993f5.6818ec","type":"function","z":"706974d2.aeef8c","name":"Version Pre-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nmsg.message.Notification = \"\"\nmsg.message.comment = \"Cached Response\"\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\nnode.status({fill:\"green\",shape:\"ring\",text: \"Versions checked: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1040,"wires":[["c7efe33d.970ba","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"c7efe33d.970ba","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\n          -=:# DCS Server Application Versions #:=-\n                    \n                  DCS Version : {{{flow.DDC2.AppConfig.DCS.Version}}}{{#flow.DDC2.AppConfig.LotATC.Installed}}\n               LotATC Version : {{{flow.DDC2.AppConfig.LotATC.Version}}}{{/flow.DDC2.AppConfig.LotATC.Installed}}{{#flow.DDC2.AppConfig.SRS.Installed}}\n                  SRS Version : {{{flow.DDC2.AppConfig.SRS.Version}}}{{/flow.DDC2.AppConfig.SRS.Installed}}{{#flow.DDC2.AppConfig.Tacview.Installed}}\n              TACView Version : {{{flow.DDC2.AppConfig.Tacview.Version}}}{{/flow.DDC2.AppConfig.Tacview.Installed}}\n            DDC2 Core Version : {{{flow.DDC2.ServerInfo.DDC2_PSCore}}}\n          DDC2 Config Version : {{{flow.DDC2.ServerInfo.DDC2_PSConfig}}}\n   DDC2 Node-Red Flow Version : {{{flow.DDC2.ServerInfo.DDC2_FLOW}}}\n                  \n```","output":"str","x":1221,"y":1040,"wires":[["84046b92.690e18"]],"l":false},{"id":"d901a79d.27e608","type":"function","z":"706974d2.aeef8c","name":"Port Pre-Processing......","func":"var MsgSent = context.get('MsgSent') || 1;\nvar DDC2 = flow.get('DDC2');\nvar Func = flow.get('Func');\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nmsg.message.AdminONLY = {\"AdminChannel\" : false}\nmsg.message.comment = \"Cached Response\"\nvar adminMSG = RED.util.cloneMessage(msg)\nadminMSG.message.AdminONLY.AdminChannel = true\n\nif(msg.channel.id == DDC2.Channel.Admin) {\n    msg.message.Notification = \"\"\n} else {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+` acknowledges your `+(Func.Capitalize(msg.message.requesttype))+` command, due to the sensitive nature of the information the reply contains, DDC2 will post the information to your administration channel instead.`\n    adminMSG.channel.id = DDC2.Channel.Admin\n}\nnode.status({fill:\"green\",shape:\"ring\",text: \"Configs forgotten: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn [adminMSG,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":920,"wires":[["43b291d0.ae52a"],["104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Discord",""],"icon":"node-red/inject.svg"},{"id":"c24196a8.610a28","type":"function","z":"706974d2.aeef8c","name":"Config Pre-Processing......","func":"var MsgSent = context.get('MsgSent') || 1;\nvar DDC2 = flow.get('DDC2');\nvar Func = flow.get('Func');\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nmsg.message.comment = \"Cached Response\"\nvar msglow = msg.message.raw.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\nvar Config = splitmsg[2];\nvar DCS_Config = false\nvar SRS_Config = false\nvar LOT_Config = false\nvar TAC_Config = false\nvar DDC2_Config = false\n\nif (Config == \"-dcs\") {DCS_Config = true}\nif (Config == \"-srs\") {SRS_Config = true}\nif (Config == \"-lot\") {LOT_Config = true}\nif (Config == \"-tac\") {TAC_Config = true}\nif (Config == \"-ddc2\") {DDC2_Config = true}\nif (typeof Config == 'undefined') {DDC2_Config = true}\n\nmsg.message.AdminONLY = {\n        \"AdminChannel\" : false,\n          \"DCS_Config\" : DCS_Config,\n          \"SRS_Config\" : SRS_Config,\n          \"LOT_Config\" : LOT_Config,\n          \"TAC_Config\" : TAC_Config,\n         \"DDC2_Config\" : DDC2_Config,\n       \"App_Installed\" : true\n    }\nmsg.message.Notification = \"\"\n\nvar adminMSG = RED.util.cloneMessage(msg)\nadminMSG.message.AdminONLY.AdminChannel = true\n\nif(msg.channel.id == DDC2.Channel.Admin) {\n    msg.message.Notification = \"\"\n    if ((DDC2.AppConfig.DCS.Installed != true) && (msg.message.AdminONLY.DCS_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that SRS does not appear to be installed on this server so no config can be displayed.`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false;\n    }    \n    if ((DDC2.AppConfig.SRS.Installed != true) && (msg.message.AdminONLY.SRS_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that SRS does not appear to be installed on this server so no config can be displayed.`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n    if ((DDC2.AppConfig.LotATC.Installed != true) && (msg.message.AdminONLY.LOT_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that LotATC does not appear to be installed on this server so no config can be displayed`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n    if ((DDC2.AppConfig.Tacview.Installed != true) && (msg.message.AdminONLY.TAC_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that TacView does not appear to be installed on this server so no config can be displayed`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n} else {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+` acknowledges your `+(Func.Capitalize(msg.message.requesttype))+` command, due to the sensitive nature of the information the reply contains, DDC2 will post the information to your administration channel instead.`\n    adminMSG.channel.id = DDC2.Channel.Admin\n        if ((DDC2.AppConfig.DCS.Installed != true) && (msg.message.AdminONLY.DCS_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that SRS does not appear to be installed on this server so no config can be displayed.`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false;\n    }    \n    if ((DDC2.AppConfig.SRS.Installed != true) && (msg.message.AdminONLY.SRS_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that SRS does not appear to be installed on this server so no config can be displayed.`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n    if ((DDC2.AppConfig.LotATC.Installed != true) && (msg.message.AdminONLY.LOT_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that LotATC does not appear to be installed on this server so no config can be displayed`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n    if ((DDC2.AppConfig.Tacview.Installed != true) && (msg.message.AdminONLY.TAC_Config == true)) {\n        msg.message.Notification = DDC2.ServerInfo.ServerID+` regrets to inform you that TacView does not appear to be installed on this server so no config can be displayed`\n        msg.message.AdminONLY.App_Installed = false\n        adminMSG.message.AdminONLY.App_Installed = false\n    }\n}\nnode.status({fill:\"green\",shape:\"ring\",text: \"Passwords misplaced: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn [adminMSG,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":980,"wires":[["daa2047.505cbf8"],["104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Discord","To Log / Task Notification"],"icon":"node-red/inject.svg"},{"id":"43b291d0.ae52a","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#message.AdminONLY.AdminChannel}}\n```\n         -=:# DCS Server Configured Network Ports #:=-\n       \n          Server Console Port : {{{flow.DDC2.ServerInfo.ConsolePort}}}\n           \n              DCS Server Port : {{{flow.DDC2.AppConfig.DCS.Port}}}\n               DCS Webui Port : {{{flow.DDC2.AppConfig.DCS.webui_port}}}{{#flow.DDC2.AppConfig.LotATC.Installed}}\n \n           LotATC Server Port : {{{flow.DDC2.AppConfig.LotATC.Port}}}\n  LotATC SRS Transponder Port : {{{flow.DDC2.AppConfig.LotATC.srs_transponder_port}}}\n      LotATC JSON Server Port : {{{flow.DDC2.AppConfig.LotATC.jsonserver_port}}}{{/flow.DDC2.AppConfig.LotATC.Installed}}{{#flow.DDC2.AppConfig.SRS.Installed}}\n                  \n              SRS Server Port : {{{flow.DDC2.AppConfig.SRS.Port}}}\n         SRS AutoConnect Port : {{{flow.DDC2.AppConfig.SRS.SERVER_SRS_PORT}}}\n       SRS LotATC Export Port : {{{flow.DDC2.AppConfig.SRS.LOTATC_EXPORT_PORT}}}{{/flow.DDC2.AppConfig.SRS.Installed}}{{#flow.DDC2.AppConfig.Tacview.Installed}}\n    \nTACView Server Telemetry Port : {{{flow.DDC2.AppConfig.Tacview.tacviewRealTimeTelemetryPort}}}\n       TACView Server RC Port : {{{flow.DDC2.AppConfig.Tacview.tacviewRemoteControlPort}}}{{/flow.DDC2.AppConfig.Tacview.Installed}}\n\n```\n{{/message.AdminONLY.AdminChannel}}","output":"str","x":1221,"y":920,"wires":[["84046b92.690e18"]],"l":false},{"id":"dbb20807.995bd8","type":"switch","z":"706974d2.aeef8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":396,"y":440,"wires":[["56246863.7e6688"]],"l":false},{"id":"daa2047.505cbf8","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#message.AdminONLY.App_Installed}}{{#message.AdminONLY.AdminChannel}}\n```\nConfiguration Information for Server {{{flow.DDC2.ServerInfo.ServerID}}}...\n\n{{#message.AdminONLY.DCS_Config}}\n              -=:# DCS Server Configuration #:=-\n\n           InGame Server Name : {{{flow.DDC2.AppConfig.DCS.name}}}\n                  DCS Version : {{{flow.DDC2.AppConfig.DCS.Version}}}\n        DCS Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.DCS.Port}}}\n                 UPnP Enabled : {{{flow.DDC2.AppConfig.DCS.use_upnp}}}\n              Server Password : {{{flow.DDC2.AppConfig.DCS.password}}}\n              Server isPublic : {{{flow.DDC2.AppConfig.DCS.isPublic}}}\n                  Max Players : {{{flow.DDC2.AppConfig.DCS.maxPlayers}}}\n                     Max Ping : {{{flow.DDC2.AppConfig.DCS.maxPing}}}\n                   WebUI Port : {{{flow.DDC2.AppConfig.DCS.webui_port}}}\n          Server Bind Address : {{{flow.DDC2.AppConfig.DCS.bind_address}}}\n       Server Mission Shuffle : {{{flow.DDC2.AppConfig.DCS.listShuffle}}}\n          Server Mission Loop : {{{flow.DDC2.AppConfig.DCS.listLoop}}}\n           Server Resume Mode : {{{flow.DDC2.AppConfig.DCS.resume_mode}}}\n  DCS Server Install Location : {{{flow.DDC2.AppConfig.DCS.InstallDIR}}}\n  DCS Server Profile Location : {{{flow.DDC2.AppConfig.DCS.ProfileDIR}}}\nDCS Server Configuration File : {{{flow.DDC2.AppConfig.DCS.Config}}}\n                Pause on Load : {{{flow.DDC2.AppConfig.DCS.pause_on_load}}}\n        Pause without Clients : {{{flow.DDC2.AppConfig.DCS.pause_without_clients}}}\n         Require Pure Clients : {{{flow.DDC2.AppConfig.DCS.require_pure_clients}}}\n          Require Pure Models : {{{flow.DDC2.AppConfig.DCS.require_pure_models}}}\n        Require Pure Textures : {{{flow.DDC2.AppConfig.DCS.require_pure_textures}}}\n          Allow Tail # Change : {{{flow.DDC2.AppConfig.DCS.allow_change_tailno}}}\n            Allow Change Skin : {{{flow.DDC2.AppConfig.DCS.allow_change_skin}}}\n               Disable Events : {{{flow.DDC2.AppConfig.DCS.disable_events}}}\n               Takeoff Events : {{{flow.DDC2.AppConfig.DCS.event_Takeoff}}}\n               Connect Events : {{{flow.DDC2.AppConfig.DCS.event_Connect}}}\n              Ejecting Events : {{{flow.DDC2.AppConfig.DCS.event_Ejecting}}}\n                  Kill Events : {{{flow.DDC2.AppConfig.DCS.event_Kill}}}\n                 Crash Events : {{{flow.DDC2.AppConfig.DCS.event_Crash}}}\n        Role Selection Events : {{{flow.DDC2.AppConfig.DCS.event_Role}}}\n             Ownership Export : {{{flow.DDC2.AppConfig.DCS.ownship_export}}}\n                Object Export : {{{flow.DDC2.AppConfig.DCS.object_export}}}\n                Sensor Export : {{{flow.DDC2.AppConfig.DCS.allow_sensor_export}}}\n        Client Outbound Limit : {{{flow.DDC2.AppConfig.DCS.client_outbound_limit}}}\n         Client Inbound Limit : {{{flow.DDC2.AppConfig.DCS.client_inbound_limit}}}\n           Server Screenshots : {{{flow.DDC2.AppConfig.DCS.server_can_screenshot}}}\n             Server VoIP Chat : {{{flow.DDC2.AppConfig.DCS.voice_chat_server}}}\n\n{{/message.AdminONLY.DCS_Config}}{{#flow.DDC2.AppConfig.SRS.Installed}}{{#message.AdminONLY.SRS_Config}}\n              -=:# SRS Server Configuration #:=-\n\n                  SRS Version : {{{flow.DDC2.AppConfig.SRS.Version}}}\n        SRS Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.SRS.SERVER_PORT}}}\n                 UPnP Enabled : {{{flow.DDC2.AppConfig.SRS.UPNP_ENABLED}}}\n             Global Frequency : {{{flow.DDC2.AppConfig.SRS.GLOBAL_LOBBY_FREQUENCIES}}}                     \n  External AWACS Mode Enabled : {{{flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE}}}\n        BLUFOR AWACS Password : {{{flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_BLUE_PASSWORD}}}\n        REDFOR AWACS Password : {{{flow.DDC2.AppConfig.SRS.EXTERNAL_AWACS_MODE_RED_PASSWORD}}}\n  SRS Server Install Location : {{{flow.DDC2.AppConfig.SRS.InstallDIR}}}\n   SRS Server Config Location : {{{flow.DDC2.AppConfig.SRS.Config}}}\n             Test Frequencies : {{{flow.DDC2.AppConfig.SRS.TEST_FREQUENCIES}}}\n                Client Export : {{{flow.DDC2.AppConfig.SRS.CLIENT_EXPORT_ENABLED}}}\n           Client Export File : {{{flow.DDC2.AppConfig.SRS.CLIENT_EXPORT_FILE_PATH}}}\n       Coalition Secure Comms : {{{flow.DDC2.AppConfig.SRS.COALITION_AUDIO_SECURITY}}}\n      Disable Spectator Comms : {{{flow.DDC2.AppConfig.SRS.SPECTATORS_AUDIO_DISABLED}}}\n        Line of Sight Enabled : {{{flow.DDC2.AppConfig.SRS.LOS_ENABLED}}}\n             Distance Enabled : {{{flow.DDC2.AppConfig.SRS.DISTANCE_ENABLED}}}\n       Coalition Secure Comms : {{{flow.DDC2.AppConfig.SRS.COALITION_AUDIO_SECURITY}}}\n                 IRL Radio TX : {{{flow.DDC2.AppConfig.SRS.IRL_RADIO_TX}}}\n    IRL Radio RX Interference : {{{flow.DDC2.AppConfig.SRS.IRL_RADIO_RX_INTERFERENCE}}}\n              Radio Expansion : {{{flow.DDC2.AppConfig.SRS.RADIO_EXPANSION}}}\n       Allow Radio Encryption : {{{flow.DDC2.AppConfig.SRS.ALLOW_RADIO_ENCRYPTION}}}\n             Show Tuned Count : {{{flow.DDC2.AppConfig.SRS.SHOW_TUNED_COUNT}}}\n        Show Transmitter Name : {{{flow.DDC2.AppConfig.SRS.SHOW_TRANSMITTER_NAME}}}\n                LotATC Export : {{{flow.DDC2.AppConfig.SRS.LOTATC_EXPORT_ENABLED}}}              \n             LotATC Export IP : {{{flow.DDC2.AppConfig.SRS.LOTATC_EXPORT_IP}}}\n           LotATC Export Port : {{{flow.DDC2.AppConfig.SRS.LOTATC_EXPORT_PORT}}}\n       Check for Beta Updates : {{{flow.DDC2.AppConfig.SRS.CHECK_FOR_BETA_UPDATES}}}\n         SRS AutoConnect Port : {{{flow.DDC2.AppConfig.SRS.CHECK_FOR_BETA_UPDATES}}}\n      SRS AutoConnect Enabled : {{{flow.DDC2.AppConfig.SRS.SERVER_SEND_AUTO_CONNECT}}}\n      SRS AutoConnect Address : {{{flow.DDC2.AppConfig.SRS.SERVER_SRS_HOST}}}\n         SRS AutoConnect Port : {{{flow.DDC2.AppConfig.SRS.SERVER_SRS_PORT}}}\n\n{{/message.AdminONLY.SRS_Config}}{{/flow.DDC2.AppConfig.SRS.Installed}}{{#flow.DDC2.AppConfig.LotATC.Installed}}{{#message.AdminONLY.LOT_Config}}\n            -=:# LotATC Server Configuration #:=-\n\n               LotATC Version : {{{flow.DDC2.AppConfig.LotATC.Version}}}\n     LotATC Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.LotATC.Port}}}\n              BLUFOR Password : {{{flow.DDC2.AppConfig.LotATC.blue_password}}}\n              REDFOR Password : {{{flow.DDC2.AppConfig.LotATC.red_password}}}\n           Virtual AWACS Name : {{{flow.DDC2.AppConfig.LotATC.virtual_awacs_name}}}\n         SRS Transponder Port : {{{flow.DDC2.AppConfig.LotATC.srs_transponder_port}}}\n             JSON Server Port : {{{flow.DDC2.AppConfig.LotATC.jsonserver_port}}}\n      Group IGNORE radar name : {{{flow.DDC2.AppConfig.LotATC.ignore_radar_name}}}\n        Update Search for New : {{{flow.DDC2.AppConfig.LotATC.update_search_for_new}}}\n                  Update Time : {{{flow.DDC2.AppConfig.LotATC.update_time}}}\n         Minimum Frame Update : {{{flow.DDC2.AppConfig.LotATC.minimum_frame_update}}}\n LotATC Installation Location : {{{flow.DDC2.AppConfig.LotATC.InstallDIR}}}\n    LotATC Configuration File : {{{flow.DDC2.AppConfig.LotATC.Config}}}\n\n{{/message.AdminONLY.LOT_Config}}{{/flow.DDC2.AppConfig.LotATC.Installed}}{{#flow.DDC2.AppConfig.Tacview.Installed}}{{#message.AdminONLY.TAC_Config}}\n           -=:# TacView Server Configuration #:=-\n\n               TacView Verion : {{{flow.DDC2.AppConfig.Tacview.Version}}}\n  Telemetry Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.Tacview.tacviewRealTimeTelemetryPort}}}\n    Client Telemetry Password : {{{flow.DDC2.AppConfig.Tacview.tacviewClientTelemetryPassword}}}\n      Host Telemetry Password : {{{flow.DDC2.AppConfig.Tacview.tacviewHostTelemetryPassword}}}\n       TacView Playback Delay : {{{flow.DDC2.AppConfig.Tacview.tacviewPlaybackDelay}}} \nTacView Installation Location : {{{flow.DDC2.AppConfig.Tacview.InstallDIR}}}\n   TacView Configuration File : {{{flow.DDC2.AppConfig.Tacview.ConfigFile}}}\n       Data Compression Level : {{{flow.DDC2.AppConfig.Tacview.tacviewCompressionLevel}}}\n           Debug Mode Enabled : {{{flow.DDC2.AppConfig.Tacview.tacviewDebugModeEnabled}}}\n      Client Sessions Enabled : {{{flow.DDC2.AppConfig.Tacview.tacviewRecordClientsSessionsEnabled}}}\n               Terrain Export : {{{flow.DDC2.AppConfig.Tacview.tacviewTerrainExport}}}       \n     TacView Profiling Period : {{{flow.DDC2.AppConfig.Tacview.tacviewProfilingPeriod}}}\n TacView RC Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.AppConfig.Tacview.tacviewRemoteControlPort}}}\n          TacView RC Password : {{{flow.DDC2.AppConfig.Tacview.tacviewRemoteControlPassword}}}\n       TacView Telemetry Port : {{{flow.DDC2.AppConfig.Tacview.tacviewRealTimeTelemetryPort}}}\n  TacView Remote Control Port : {{{flow.DDC2.AppConfig.Tacview.tacviewRemoteControlPort}}}\n\n{{/message.AdminONLY.TAC_Config}}{{/flow.DDC2.AppConfig.Tacview.Installed}}{{#message.AdminONLY.DDC2_Config}}\n                 -=:# DDC2 Configuration #:=-             \n\n               DDC2 Server ID : {{{flow.DDC2.ServerInfo.ServerID}}}\n           DDC2 Master Server : {{{flow.DDC2.ServerInfo.DDC2_MASTER}}}\n            DDC2 Core Version : {{{flow.DDC2.ServerInfo.DDC2_PSCore}}}\n          DDC2 Config Version : {{{flow.DDC2.ServerInfo.DDC2_PSConfig}}}\n   DDC2 Node-Red Flow Version : {{{flow.DDC2.ServerInfo.DDC2_FLOW}}}\n     Auto Start DCS on Update : {{{flow.DDC2.ServerInfo.AutoStartonUpdate}}}\n          DDC2 Command Prefix : {{{flow.DDC2.ServerInfo.CommandPrefix}}}\n        Auto Update Moose.lua : {{{flow.DDC2.ServerInfo.AutoUpdateMoose}}}\n              Auto Update DCS : {{{flow.DDC2.ServerInfo.AutoUpdateDCS}}} ({{{flow.DDC2.ServerInfo.DCSBuild}}})\n              Auto Update SRS : {{{flow.DDC2.ServerInfo.AutoUpdateSRS}}} ({{{flow.DDC2.ServerInfo.SRSBuild}}})\n           Auto Update LotATC : {{{flow.DDC2.ServerInfo.AutoUpdateLoT}}} ({{{flow.DDC2.ServerInfo.LotBuild}}})\n             Auto Start Delay : {{{flow.DDC2.ServerInfo.AutoStartonUpdate}}} ##Ignored if DCC2 Master##\n        Show Server Passwords : {{{flow.DDC2.ServerInfo.ShowSrvPWD}}}   ##Shows Server Passwords in non-Admin Channels##\n             Show LotATC Info : {{{flow.DDC2.ServerInfo.ShowLotATC}}}   ##Shows LotATC information in non-Admin Channels## \n              Server Password : {{{flow.DDC2.ServerInfo.ShowTACView}}}   ##Shows TacView information in non-Admin Channels## \n            DDC2 Help Enabled : {{{flow.DDC2.ServerInfo.ENABLE_HELP}}}   ##Enables Help for this server (removes need to specify server ID)## \n          Password Randomizer : {{{flow.DDC2.ServerInfo.PwdRandomizer.EnableRandomizer}}}{{{#flow.DDC2.ServerInfo.PwdRandomizer.EnableRandomizer}}}\n      DCS Password Randomizer : {{{flow.DDC2.ServerInfo.PwdRandomizer.ServerPassword}}}\n      SRS Password Randomizer : {{{flow.DDC2.ServerInfo.PwdRandomizer.SRSPassword}}}\n     Separate LotATC Password : {{{flow.DDC2.ServerInfo.PwdRandomizer.SeperateLOT}}}\n    Separate TacView Password : {{{flow.DDC2.ServerInfo.PwdRandomizer.SeperateTAC}}}{{{/flow.DDC2.ServerInfo.PwdRandomizer.EnableRandomizer}}}\n    DCS & SRS Screen Position : {{{flow.DDC2.ServerInfo.DesktopPosition}}}\n   DDC2 Installation Location : {{{flow.DDC2.ServerInfo.DDC2_Path}}}\n                 \n                 \n                 -=:# Server Configuration #:=-\n                 \n              Server Hostname : {{{flow.DDC2.ServerInfo.ComputerName}}}\n              Windows Version : {{{flow.DDC2.ServerInfo.WinVer}}}\n    Server Connection Address : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}\n             Server Processor : {{{flow.DDC2.ServerInfo.CPUType}}}\n               Server RAM(GB) : {{{flow.DDC2.ServerInfo.TotalMem}}}\n      Console Connection Type : {{{flow.DDC2.ServerInfo.ConsoleType}}}\n    Console Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.ServerInfo.ConsolePort}}}    \n                     TimeZone : {{{flow.DDC2.ServerInfo.TZ}}}\n              Server Downtime : {{{flow.DDC2.ServerInfo.ServerDT}}}\n                   UTC Offset : {{{flow.DDC2.ServerInfo.UTCOffset}}}\n\n{{/message.AdminONLY.DDC2_Config}}\n\n```\n{{/message.AdminONLY.AdminChannel}}{{/message.AdminONLY.App_Installed}}","output":"str","x":1221,"y":980,"wires":[["84046b92.690e18"]],"l":false},{"id":"3bf77953.d8a626","type":"function","z":"706974d2.aeef8c","name":"Reboot Pre-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has received your request `+msg.author.username+ ` and has begun processing your `+(Func.Capitalize(msg.message.requesttype))+` request, please wait as Reboot commands can take some time to complete, the Autostart sequence will notify you when the server is coming back online....`\nmsg.payload = '-'+msg.message.requesttype\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\nnode.status({fill:\"green\",shape:\"ring\",text: \"Tea's made: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":740,"wires":[["104865d4.43020a","b7ef7da7.fc86f"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"b3cf6ba5.1edd28","type":"function","z":"706974d2.aeef8c","name":"Access Pre-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.Notification = \"\" //Stops the Notification system from sending out a message.\nvar msglow = msg.message.raw.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\n\nvar IPAddr = splitmsg[2];\nif (typeof IPAddr === 'undefined') {IPAddr = \"\"}\nelse {\n    msg.message.access = {\n                'IPAddr' : IPAddr,\n             'FirstLoop' : true,\n               'Payload' : \"\"\n    }\n}\n\n\nif(Func.ValidateIPaddress(IPAddr) === false) {\n    msg.message.valid = false;\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has detected the IP Address provided is not valid (`+IPAddr+`). Please enter a valid IPv4 or IPv6 IP address to use the `+(Func.Capitalize(msg.message.requesttype))+`. For help with this command please type \" !help access \", to get your Internet IP address you can visit https://ipinfo.io/`\n} else {\n    msg.message.valid = true;\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has verified your `+(Func.Capitalize(msg.message.requesttype))+` command and has begun processing it. Please wait.....`\n    if (DDC2.ServerInfo.VNCEnabled) {\n        msg.payload = `-access -IP `+IPAddr+` -USER `+msg.author.username+` -ID `+msg.author.id+ ` -VNC`;\n        }\n    else {\n        msg.payload = `-access -IP `+IPAddr+` -USER `+msg.author.username+` -ID `+msg.author.id;\n    }\n}\nif(msg.channel.id != DDC2.Channel.Admin) {\n    msg.message.valid = false;\n    msg.message.Notification = DDC2.ServerInfo.ServerID+` acknowledges your `+(Func.Capitalize(msg.message.requesttype))+` command, due to the sensitive nature of the information the reply contains, DDC2 has aborted this request, please use the admin channel.`\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\nnode.status({fill:\"green\",shape:\"ring\",text: \"Configs forgotten: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\n////////////////////////////////////////////////////////////////////////////////////////////////////\nif(msg.message.valid) {\n    return [msg,msg]\n} else {\n    return [null,msg]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":680,"wires":[["b7ef7da7.fc86f"],["104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell",""],"icon":"node-red/inject.svg"},{"id":"1e147716.7e48d9","type":"function","z":"706974d2.aeef8c","name":"Update Pre-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has received your request `+msg.author.username+ ` and has begun processing your `+(Func.Capitalize(msg.message.requesttype))+` request, to check the status of the update command run the !status command....`\nmsg.payload = '-'+msg.message.requesttype\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":620,"wires":[["b7ef7da7.fc86f","104865d4.43020a"],[]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell",""],"icon":"node-red/inject.svg"},{"id":"d4a8aae3.8f1a38","type":"function","z":"706974d2.aeef8c","name":"PS Pre-Execution Notice","func":"/*\nGeneralized PS Pre Execution Notification for simple commands \ncommands that do not require a task specific customized response\n*/\n////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` command request from `+msg.author.username+ `. Please wait while this task is processed....`\n\nmsg.payload = '-'+msg.message.requesttype\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":500,"wires":[["104865d4.43020a","b7ef7da7.fc86f"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"94f8f28d.0ad6b","type":"function","z":"706974d2.aeef8c","name":"!help","func":"var MsgSent = context.get('MsgSent') || 1;\nvar Func = flow.get('Func'); //Needed for Notification\nvar DDC2 = flow.get('DDC2'); //Needed for Notification\n//Get Message Variables\nvar msglow = msg.payload.toLowerCase();\nvar splitmsg = msglow.split(\" \",3);\nvar command = splitmsg[0];\nvar server = splitmsg[1];\nvar requesttype = command.replace(DDC2.ServerInfo.CommandPrefix,'')\nvar Permissions = flow.get('DDC2.Permissions.'+requesttype)\nvar tmstmp = msg.data.createdTimestamp;\nvar localdatetime = (new Date(tmstmp)).toLocaleString();\nvar access = \"NOTSET\";\n\nmsg.message = {\n          \"request\" : command,\n    \"FormattedTime\" : localdatetime,\n   \"RequestChannel\" : msg.data.channel.name,\n \"RequestChannelID\" : msg.data.channel.id,\n      \"requesttype\" : requesttype,\n           \"access\" : access,\n       \"authorized\" : false,\n            \"valid\" : false,\n          \"comment\" : \"\",\n     \"Notification\" : \"\",\n              \"TTC\" : \"\", //Time To Completion, This measures the time the system recieved the request through to the time the request was completed. This item is used in further down in the flow\n              \"raw\" : msg.payload\n}\nif (DDC2.ServerInfo.ENABLE_HELP) {\n    if (requesttype == \"help\") { \n        msg.message.Notification = \"\"\n        return msg;        \n    } \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1000,"wires":[["f7686d61.dda76"]],"inputLabels":["Get Message"],"outputLabels":["Process Request"],"icon":"node-red/bridge.svg"},{"id":"3ad1965f.62275a","type":"function","z":"706974d2.aeef8c","name":"Radio Pre-Processing...","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\nvar MsgSent = context.get('MsgSent') || 1;\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.Notification = \"\"\nvar msglow = msg.message.raw.toLowerCase();\nvar InvalidFreq = false\nvar InvalidCoal = false\nvar InvalidMsg = false\nvar MessageFailed = false\nvar RadioRequest = \"\"\n////Frequency\nvar Freq = \"\"\nvar FreqStart = msglow.indexOf('-freq ')\nif(FreqStart == -1) {\n    Freq = parseFloat(DDC2.AppConfig.SRS.DDC2_FREQ)\n} else {\n    var FreqAdd = FreqStart + 6\n    var FreqStr = msglow.slice(FreqAdd)\n    var FreqEnd = FreqStr.indexOf(' ')\n    Freq = parseFloat(FreqStr.slice(0, FreqEnd))\n    if((Freq < parseFloat(DDC2.AppConfig.SRS.DDC2_LOW)) || (Freq > parseFloat(DDC2.AppConfig.SRS.DDC2_HIGH))) {\n        InvalidFreq = true\n    }\n}\n////Coalition\nvar Coal = \"\"\nvar CoalStart = msglow.indexOf('-coal ')\n\nif(CoalStart == -1) {\n    Coal = parseInt(DDC2.AppConfig.SRS.DDC2_COAL)\n    if(msg.data.channel.id == DDC2.Channel.Blue) {Coal = 2}\n    if(msg.data.channel.id == DDC2.Channel.Red) {Coal = 1}\n} else {\n    var CoalAdd = CoalStart + 6\n    var CoalStr = msglow.slice(CoalAdd)\n    var CoalEnd = CoalStr.indexOf(' ')\n    Coal = parseInt(CoalStr.slice(0, CoalEnd))\n    if((Coal < 0) || (Coal > 2)) {\n        InvalidCoal = true\n    }\n}\n////Message\nvar Text2Radio = \"\"\nvar T2RStart = msglow.indexOf('-msg \"')\nif(T2RStart == -1) {\n    InvalidMsg = true\n} else {\n    var T2RAdd = T2RStart + 6\n    var T2RStr = msglow.slice(T2RAdd)\n    var T2REnd = T2RStr.indexOf('\"')\n    var Unclean = T2RStr.slice(0, T2REnd)\n    var cleanString = Unclean.replace(/[|&;$%@\"<>*^-_=+;\\\\()+]/g, \"\");\n    var WordCount = cleanString.split(' ').length\n    var SpacesRemoved = cleanString.replace(/\\s/g, '').length\n    if((WordCount > 0) && (SpacesRemoved > 0)) {\n        Text2Radio = cleanString\n    } else {\n        InvalidMsg = true\n    }\n}\n\nvar CoalitionName = Func.GetCoalition(Coal)\n\n////Powershell Payload Prep\nif((InvalidFreq) || (InvalidCoal) || (InvalidMsg)) {\n    msg.message.valid = false;\n    MessageFailed = true\n} else {\n    msg.payload = `-radio -RadioFrq `+Freq+` -RadioUser `+msg.member.user.username+` -RadioSide `+Coal+` -RadioMSG \"`+Text2Radio+`\"`\n    msg.message.comment = \"Passed to PS: \"+msg.payload\n    msg.message.valid = true;\n}\n\nmsg.message.Radio = {\n     \"RadioUpper\" : Func.Capitalize(msg.message.requesttype),\n           \"Freq\" : Freq,\n           \"Coal\" : Coal,\n  \"CoalitionName\" : CoalitionName,\n     \"Test2Radio\" : Text2Radio,\n    \"InvalidFreq\" : InvalidFreq,\n    \"InvalidCoal\" : InvalidCoal,\n     \"InvalidMsg\" : InvalidMsg,\n  \"MessageFailed\" : MessageFailed\n}\n\n\n////////////////////////////////////////////////////////////////////////////////////////////////////\nnode.status({fill:\"green\",shape:\"ring\",text: \"Ear holes molested: \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":860,"wires":[["b7ef7da7.fc86f","104865d4.43020a","36cda7aa.cbf7f8"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"36cda7aa.cbf7f8","type":"template","z":"706974d2.aeef8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\nMessage from {{{flow.DDC2.ServerInfo.ServerID}}}....\n\n{{#message.valid}}\n{{{member.user.username}}}, your {{{message.Radio.RadioUpper}}} command has been verified as valid. The parameters passed onto SRS for transmission are:\n\n                    Coalition : {{{message.Radio.CoalitionName}}}\n                    Frequency : {{{message.Radio.Freq}}} {{{flow.DDC2.AppConfig.SRS.DDC2_MOD}}}\n                      Message : {{{message.Radio.Test2Radio}}}\n{{/message.valid}}{{#message.Radio.MessageFailed}}\n\n\n{{/message.Radio.MessageFailed}}\n\n```","output":"str","x":1221,"y":860,"wires":[["84046b92.690e18"]],"l":false},{"id":"4d5772e9.365a3c","type":"link out","z":"706974d2.aeef8c","name":"To Discord SEND","links":["d52ab787.470dd8","dcd8bae1.a6a4f8"],"x":1455,"y":180,"wires":[]},{"id":"6a40cd8f.d9b5c4","type":"function","z":"706974d2.aeef8c","name":"Radio Post-Processing...","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\nmsg.message.Notification = DDC2.ServerInfo.ServerID+ ` reports your radio transmission was completed in `+msg.message.TTC+` `+msg.member.user.username+`.`\n////////////////////////////////////////////////////////////////////////////////////////////////////\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":100,"wires":[["11ef3fe.fcf79c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"cd39221a.41d13","type":"function","z":"706974d2.aeef8c","name":"Update Post-Processing","func":"//TEMP PLACE HOLDER\n//TEMP PLACE HOLDER\n//TEMP PLACE HOLDER\n//TEMP PLACE HOLDER\n//TEMP PLACE HOLDER\n\n////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\n\n\nif (typeof msg.message.Update === 'undefined') {\n    //First Run\n    msg.delay = (DDC2.ServerInfo.UpdateLoop * 1000)\n    msg.message.Update = {\n            \"Status\" : \"Initializing\",\n          \"FirstRun\" : true,\n           \"LOT_Upd\" : \"Update not started\",\n           \"SRS_Upd\" : \"Update not started\",\n           \"DCS_Upd\" : \"Update not started\",\n          \"Finished\" : false\n    }\n} else {\n    if(msg.PS.Updating) {\n        msg.message.Update.Status = \"Updating\"\n        msg.message.Update.FirstRun = false\n        msg.message.Update.Finished = false\n    } else {\n        msg.message.Update.Status = \"Done\"\n        msg.message.Update.FirstRun = false\n        msg.message.Update.Finished = true\n    }\n}\nif(msg.PS.DCS.IsActive) {msg.message.Update.Finished = true}\nif(msg.PS.SRS.IsActive) {msg.message.Update.Finished = true}\n\nif(msg.PS.LOT_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Updating to current \"+DDC2.ServerInfo.LotBuild+\" Build\"\n}\nif(msg.PS.SRS_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Update Complete (\"+DDC2.ServerInfo.LotBuild+\")\"\n    msg.message.Update.SRS_Upd = \"Updating to current \"+DDC2.ServerInfo.SRSBuild+\" Build\"\n}\nif(msg.PS.DCS_Updater.IsActive) {\n    msg.message.Update.LOT_Upd = \"Update Complete (\"+DDC2.ServerInfo.LotBuild+\")\"\n    msg.message.Update.SRS_Upd = \"Update Complete (\"+DDC2.ServerInfo.SRSBuild+\")\"\n    msg.message.Update.DCS_Upd = \"Updating to current \"+DDC2.ServerInfo.DCSBuild+\" Build\"\n}\nif(msg.message.Update.DCS_Upd == \"Updating\") {\n    if (msg.PS.DCS_Updater.Offline) {\n        msg.message.Update.DCS_Upd = \"Update Complete (\"+DDC2.ServerInfo.DCSBuild+\")\"\n    }\n}\nif(DDC2.AppConfig.DCS.Version != msg.PS.DCS.Version) {\n    flow.set('DDC2.AppConfig.DCS.Version', msg.PS.DCS.Lot_Version)\n}\nif(DDC2.AppConfig.LotATC.Version != msg.PS.DCS.Lot_Version) {\n    flow.set('DDC2.AppConfig.LotATC.Version', msg.PS.DCS.Lot_Version)\n}\nif(DDC2.AppConfig.SRS.Version != msg.PS.SRS.Version) {\n    flow.set('DDC2.AppConfig.SRS.Version', msg.PS.SRS.Version)\n}\nmsg.message.payload = `-Status`\nmsg.payload = msg.message.payload;\n\n//If you want interval reporting on Update status uncomment the line below.\n//if(msg.message.Update.Finished) {return [msg,null]} else {return [msg,msg]}\n////////////////////////////////////////////////////////////////////////////////////////////////////\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":220,"wires":[["97c8ac4b.11c83"],["d79640b.c7a31c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["MsgOut","Loop"],"icon":"node-red/inject.svg"},{"id":"c26084df.9a5498","type":"function","z":"706974d2.aeef8c","name":"Access Post-Processing","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\n\n\nif(msg.message.requesttype == 'secure') {\n//Second and Further Time through\n    msg.message.access.FirstLoop = false\n    if(msg.PS.ExitLoop) {\n        msg.message.payload = \"ExitLoop\"\n    } else {\n        if (DDC2.ServerInfo.VNCEnabled) {\n            msg.message.payload = `-secure -IP `+msg.message.access.IPAddr+` -USER `+msg.member.user.username+` -ID `+msg.member.user.id+' -VNC'; //Shows the next message to be sent to the script\n        } else {\n            msg.message.payload = `-secure -IP `+msg.message.access.IPAddr+` -USER `+msg.member.user.username+` -ID `+msg.member.user.id; //Shows the next message to be sent to the script\n        }    \n    }\n}\n\nif(msg.message.requesttype == 'access') {\n//First Time through\n    msg.delay = (DDC2.ServerInfo.AccessLoop * 1000)\n    msg.message.requesttype = 'secure'\n    msg.message.commentLog = 'Firewall rule created for '+msg.message.User+`(DiscordID: `+msg.message.DiscordID+`)`\n    if (DDC2.ServerInfo.VNCEnabled) {\n        msg.message.payload = `-secure -IP `+msg.message.access.IPAddr+` -USER `+msg.member.user.username+` -ID `+msg.member.user.id+' -VNC'; //Shows the next message to be sent to the script\n    } else {\n        msg.message.payload = `-secure -IP `+msg.message.access.IPAddr+` -USER `+msg.member.user.username+` -ID `+msg.member.user.id; //Shows the next message to be sent to the script\n    }\n}    \nmsg.payload = msg.message.payload;\nif(msg.PS.ExitLoop) {return [msg,null]} else {return [msg,msg]}\n\n\n\n//msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the the server. The task took `+msg.message.TTC+` to complete.`\n////////////////////////////////////////////////////////////////////////////////////////////////////\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":260,"wires":[["a93c31ed.8277d"],["d79640b.c7a31c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["Notifications / Log","Loop"],"icon":"node-red/inject.svg"},{"id":"425f3e8d.b4547","type":"link in","z":"706974d2.aeef8c","name":"NOTIFICATION ONLY","links":[],"x":176,"y":380,"wires":[["1b78a82b.e34c58"]]},{"id":"d79640b.c7a31c","type":"delay","z":"706974d2.aeef8c","name":"delay 'n'","pauseType":"delayv","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":340,"wires":[["62879f47.91c61"]]},{"id":"62879f47.91c61","type":"link out","z":"706974d2.aeef8c","name":"Powershell Loop","links":["1ba74911.0102c7"],"x":1455,"y":340,"wires":[]},{"id":"4f80ea3a.7b6ff4","type":"template","z":"706974d2.aeef8c","name":"Status Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#message.access.FirstLoop}}```\n{{{member.user.username}}}, your request to access {{flow.DDC2.ServerInfo.ServerID}} has been granted. Connection Details are:\n            \n      Console Connection Type : {{{flow.DDC2.ServerInfo.ConsoleType}}}\n    Console Connection String : {{{flow.DDC2.ServerInfo.ConnectionAdrr}}}:{{{flow.DDC2.ServerInfo.ConsolePort}}}    \n       Firewall Authorized IP : {{{message.access.IPAddr}}}\n\nYou have {{{flow.DDC2.ServerInfo.AccessLoop}}} seconds to connect to the server before the firewall is closed.\n```\nRequest completed in {{message.TTC}}\n{{/message.access.FirstLoop}}\n\n{{#PS.Connected}}```\nConnection detected to {{flow.DDC2.ServerInfo.ServerID}} from {{{message.access.IPAddr}}} for {{{member.user.username}}}. Time since request is {{message.TTC}}\n```{{/PS.Connected}}\n{{#PS.ExitLoop}}```\nConnection not detected, firewall rule removed for server {{flow.DDC2.ServerInfo.ServerID}}. Total time elapsed since initial request is {{message.TTC}}\n```{{/PS.ExitLoop}}\n","output":"str","x":1295,"y":300,"wires":[["b45f38a8.1aa4a8"]],"l":false},{"id":"b45f38a8.1aa4a8","type":"link out","z":"706974d2.aeef8c","name":"To Discord SEND","links":["d52ab787.470dd8"],"x":1455,"y":300,"wires":[]},{"id":"1de0b76d.940129","type":"link out","z":"706974d2.aeef8c","name":"To LOG","links":["a585c1fc.c031c"],"x":1455,"y":260,"wires":[]},{"id":"3e3f06.f45790fa","type":"function","z":"706974d2.aeef8c","name":"Stop .............................","func":"////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar ttc = Func.DaysBetween((new Date(msg.data.createdTimestamp)), new Date());\nmsg.message.TTC = ttc\nmsg.message.comment = \"Request Actioned\"\nvar extraP = 'p'\nif(msg.message.requesttype != 'stop') {extraP = ''}\n\nmsg.message.Notification = \"This message should never be seen and if it is seen it means someone has broken the stop command logic, bummer...\"\n\nif(msg.message.Stop.Game) {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the DCS and SRS server processes. The task took `+msg.message.TTC+` to complete.`\n}\nif(msg.message.Stop.All) {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed all Game and Update server processes. The task took `+msg.message.TTC+` to complete.`\n}\nif(msg.message.Stop.DCS) {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the DCS server process. The task took `+msg.message.TTC+` to complete.`\n}\nif(msg.message.Stop.SRS) {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the SRS server process. The task took `+msg.message.TTC+` to complete.`\n}\nif(msg.message.Stop.Update) {\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has `+(Func.Capitalize(msg.message.requesttype))+extraP+`ed the servers DCS, LotATC and SRS update processes. The task took `+msg.message.TTC+` to complete.`\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":140,"wires":[["11ef3fe.fcf79c"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"73a35b78.ac4d74","type":"link out","z":"706974d2.aeef8c","name":"Send to Autostart","links":["b7ef8295.ce0e2"],"x":515,"y":220,"wires":[]},{"id":"b7ef8295.ce0e2","type":"link in","z":"706974d2.aeef8c","name":"AutoStart","links":["73a35b78.ac4d74"],"x":275,"y":620,"wires":[["5e414adf.881b14"]]},{"id":"a88d9103.dab59","type":"link out","z":"706974d2.aeef8c","name":"To Set-Config","links":["dbcad7dd.e581e8"],"x":1235,"y":420,"wires":[]},{"id":"97c8ac4b.11c83","type":"template","z":"706974d2.aeef8c","name":"Update Status Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"```\n               -=:# Server Update Status #:=-\n              DDC2 Server ID : {{{flow.DDC2.ServerInfo.ServerID}}}\n      Update Processing Time : {{message.TTC}}\n      Update Message Inteval : {{{flow.DDC2.ServerInfo.UpdateLoop}}} seconds\n      \n              LotATC Updater : {{#message.Update.LOT_Upd}}{{message.Update.LOT_Upd}}{{/message.Update.LOT_Upd}}{{#PS.LOT_Updater.Offline}} [{{PS.DCS.Lot_Version}}]{{/PS.LOT_Updater.Offline}}{{#PS.LOT_Updater.IsActive}}\n                       Ticks : {{PS.LOT_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.LOT_Updater.CPULoad}} %\n         Process Memory Load : {{PS.LOT_Updater.MemGB}} GB\n             Process Threads : {{PS.LOT_Updater.Threads}}\n             Process Handles : {{PS.LOT_Updater.Threads}}{{/PS.LOT_Updater.IsActive}}\n             \n\t\t\t\t SRS Updater : {{#message.Update.SRS_Upd}}{{message.Update.SRS_Upd}}{{/message.Update.SRS_Upd}}{{#PS.SRS_Updater.Offline}} [{{PS.SRS.Version}}]{{/PS.SRS_Updater.Offline}}{{#PS.SRS_Updater.IsActive}}\n                       Ticks : {{PS.SRS_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.SRS_Updater.CPULoad}} %\n         Process Memory Load : {{PS.SRS_Updater.MemGB}} GB\n             Process Threads : {{PS.SRS_Updater.Threads}}\n             Process Handles : {{PS.SRS_Updater.Threads}}{{/PS.SRS_Updater.IsActive}}\n             \n                 DCS Updater : {{#message.Update.DCS_Upd}}{{message.Update.DCS_Upd}}{{/message.Update.DCS_Upd}}{{#PS.DCS_Updater.Offline}} [{{PS.DCS.Version}}]{{/PS.DCS_Updater.Offline}}{{#PS.DCS_Updater.IsActive}}\n                       Ticks : {{PS.DCS_Updater.RunTime.Ticks}}\n            Process CPU Load : {{PS.DCS_Updater.CPULoad}} %\n         Process Memory Load : {{PS.DCS_Updater.MemGB}} GB\n             Process Threads : {{PS.DCS_Updater.Threads}}\n             Process Handles : {{PS.DCS_Updater.Threads}}{{/PS.DCS_Updater.IsActive}}\n```\n{{#PS.Updating}}\n{{/PS.Updating}}","output":"str","x":1355,"y":220,"wires":[["4d5772e9.365a3c"]],"l":false},{"id":"f3c0a2b5.2a5f4","type":"link out","z":"706974d2.aeef8c","name":"To LOG","links":["a585c1fc.c031c"],"x":1235,"y":460,"wires":[]},{"id":"5e414adf.881b14","type":"delay","z":"706974d2.aeef8c","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":335,"y":620,"wires":[["269c53d2.7f5dcc"]],"l":false},{"id":"7f47a4ff.8c4cac","type":"function","z":"706974d2.aeef8c","name":"Stop Pre-Processing....","func":"/*\nStop Command\nusage\n\n!stop <serverID> //DEFAULT ACTION: Stops DCS and SRS processes (Same as -Game)\n\n!stop <serverID> -All  //Stops All DCS and Update processes\n\n!stop <serverID> -Game //Stops DCS and SRS processes\n\n!stop <serverID> -DCS //Stops DCS process\n\n!stop <serverID> -SRS //Stops SRS process\n\n!stop <serverID> -Update //Stops Update process\n\nOptions for Default are \n\n-StopAll\n-StopGame\n-StopDCS\n-StopSRS\n-StopUpdate\n\n*/\n////Initialize Variables\nvar Func = flow.get('Func');\nvar DDC2 = flow.get('DDC2');\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar MsgSent = context.get('MsgSent') || 1;\nnode.status({fill:\"green\",shape:\"ring\",text: \"Airbrakes Deployed : \"+MsgSent});\ncontext.set('MsgSent', (MsgSent + 1));\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.Stop = {\n         \"Game\" : false,\n          \"All\" : false,\n          \"DCS\" : false,\n          \"SRS\" : false,\n       \"Update\" : false\n    }\n////////////////////////////////////////////////////////////////////////////////////////////////////\nmsg.message.valid = true;\nvar msglow = msg.message.raw.toLowerCase();\n////////////////////////////////////////////////////////////////////////////////////////////////////\n//DEFAULT ACTION (will be executed is no other switches are detected during message analysis)\nvar DefaultNote = msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` command request from `+msg.author.username+ `. Please wait while this task is processed....`\nvar DefaultPayload = '-'+msg.message.requesttype+\" -StopGame\" //DEFAULT SETTING IS -StopGame\n////////////////////////////////////////////////////////////////////////////////////////////////////\n\nvar StopAll = msglow.indexOf('-all')\nvar doStopAll = \"\"\nif(StopAll != -1) {\n    doStopAll = \"-StopAll\"\n    msg.message.Stop.All = true\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` -all command request from `+msg.author.username+ `. Please wait while this task is processed....`\n    msg.payload = '-'+msg.message.requesttype+\" \"+doStopAll\n    return msg\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar StopGame = msglow.indexOf('-game')\nvar doStopGame = \"\"\nif(StopGame != -1) {\n    doStopGame = \"-StopGame\"\n    msg.message.Stop.Game = true\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` -Game command request from `+msg.author.username+ `. Please wait while this task is processed....`\n    msg.payload = '-'+msg.message.requesttype+\" \"+doStopGame\n    return msg\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar StopUpdate = msglow.indexOf('-update')\nvar doStopUpdate = \"\"\nif(StopUpdate != -1) {\n    doStopUpdate = \"-StopUpdate\"\n    msg.message.Stop.Update = true\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` -Update command request from `+msg.author.username+ `. Please wait while this task is processed....`\n    msg.payload = '-'+msg.message.requesttype+\" \"+doStopUpdate\n    return msg\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar StopDCS = msglow.indexOf('-dcs')\nvar doStopDCS = \"\"\nif(StopDCS != -1) {\n    doStopDCS = \"-StopDCS\"\n    msg.message.Stop.DCS = true\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` -DCS command request from `+msg.author.username+ `. Please wait while this task is processed....`\n    msg.payload = '-'+msg.message.requesttype+\" \"+doStopDCS\n    return msg\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\nvar StopSRS = msglow.indexOf('-srs')\nvar doStopSRS = \"\"\nif(StopSRS != -1) {\n    doStopSRS = \"-StopSRS\"\n    msg.message.Stop.SRS = true\n    msg.message.Notification = DDC2.ServerInfo.ServerID+ ` has recieved a `+(Func.Capitalize(msg.message.requesttype))+ ` -SRS command request from `+msg.author.username+ `. Please wait while this task is processed....`\n    msg.payload = '-'+msg.message.requesttype+\" \"+doStopSRS\n    return msg\n}\n////////////////////////////////////////////////////////////////////////////////////////////////////\n//Execution of Default Stop Message\nmsg.message.Notification = DefaultNote\nmsg.message.Stop.Game = true\nmsg.payload = DefaultPayload\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":560,"wires":[["b7ef7da7.fc86f","104865d4.43020a"]],"inputLabels":["Post-Whitelist-Check"],"outputLabels":["To Powershell"],"icon":"node-red/inject.svg"},{"id":"8788e9bc.af7e28","type":"delay","z":"706974d2.aeef8c","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1235,"y":260,"wires":[["c742702e.8cb9f"]],"l":false},{"id":"ae7ff318.f5da","type":"debug","z":"706974d2.aeef8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":260,"wires":[]},{"id":"432df74a.2db558","type":"function","z":"706974d2.aeef8c","name":"DDC2 Version","func":"//DO NOT MODIFY THIS DATA!! ALL DATA IS PULLED FROM THE DDC2_CONFIG.ps1 FILE, MODIFY THE DATA THERE!!!!\nflow.set('DDC2.ServerInfo.DDC2_FLOW', \"v2.0j\")\nvar DDC2 = flow.get('DDC2');\nvar StatusString = \"PS:\"+DDC2.ServerInfo.DDC2_PSCore+\" CFG:\"+DDC2.ServerInfo.DDC2_PSConfig+\" NRF:\"+DDC2.ServerInfo.DDC2_FLOW\nnode.status({fill:\"green\",shape:\"dot\",text:StatusString});\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[],"icon":"font-awesome/fa-id-card-o"}]
